workflow/Job_Scraper_v3.json
{
  "name": "Job Scraper v3 — pełne opisy → JSON (Wrocław)",
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "nodes": [
    {
      "parameters": {},
      "id": "v2-0000-0000-0000-000000000001",
      "name": "Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================================\n// KONFIGURACJA — JEDYNE miejsce, które edytujesz.\n// ============================================================================\nconst fs = require('fs');\n\n// --- 1) DOMYŚLNE filtry (używane, gdy dany URL w sekcji 2 jest pusty '') ---\nconst search = {\n  keyword:  'staż',\n  category: 'internship',\n  location: 'Wrocław',\n  radius:   30              // km\n};\n\n// --- 2) WŁASNE URL-e Z FILTRAMI (wklej adres ze strony po ustawieniu filtrów) ---\n// Wejdź na portal, ustaw filtry ręcznie, skopiuj adres z paska i wklej tutaj.\n// Puste '' = zbuduj URL automatycznie z sekcji 1. Tak masz pełną kontrolę.\nconst urls = {\n  justjoin:    'https://justjoin.it/job-offers/wroclaw?employment-types=internship',\n  rocketjobs:  'https://rocketjobs.pl/oferty-pracy/wroclaw?typ-umowy=umowa-o-staz',\n  talentdays:  'https://talentdays.pl/oferty-pracy-i-stazy/wroclaw?doswiadczenie=ZERO',\n  olx:         '',\n  pracuj:      '',\n  theprotocol: '',\n  indeed:      ''\n};\n// ---------------------------------------------------------------------------\n\nconst collectDir = '/tmp/scrape_run';\ntry { fs.rmSync(collectDir, { recursive: true, force: true }); } catch (e) {}\nfs.mkdirSync(collectDir, { recursive: true });\n\nconst cfg = { ...search, urls, collectDir, descCache: '/output/desc_cache.json' };\nfs.writeFileSync('/tmp/scrape_config.json', JSON.stringify(cfg));\n\n// --- Utrzymanie cache opisów: usuń wpisy starsze niż 60 dni ---\n// Błędy cache NIGDY nie mogą przerwać przebiegu — wszystko w try/catch.\ntry {\n  let cache = {};\n  try { cache = JSON.parse(fs.readFileSync(cfg.descCache, 'utf8')); } catch (e) { cache = {}; }\n  const cutoff = Date.now() - 60 * 24 * 3600 * 1000;\n  for (const key of Object.keys(cache)) {\n    if (!cache[key] || !cache[key].t || cache[key].t < cutoff) delete cache[key];\n  }\n  fs.writeFileSync(cfg.descCache, JSON.stringify(cache));\n} catch (e) {\n  // Ostatnia deska ratunku: zapisz pusty cache, żeby kolejne node'y zawsze\n  // znalazły plik. Jeśli i to się nie uda — trudno, jedziemy dalej.\n  try { fs.writeFileSync(cfg.descCache, '{}'); } catch (e2) {}\n}\n\nreturn [{ json: cfg }];\n"
      },
      "id": "v2-0000-0000-0000-000000000002",
      "name": "Konfiguracja",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        300
      ]
    },
    {
      "parameters": {
        "operation": "runCustomScript",
        "scriptCode": "// ====== JUSTJOIN.IT — official JSON API; honors pasted browser URL for filters ======\n// V3: after the list, fetch each offer page (same-origin fetch inside the open page),\n// extract the FULL plain-text description from the single ld+json JobPosting block,\n// plus (best-effort) requiredSkills/niceToHaveSkills from the RSC flight payload.\n// URL-keyed desc cache makes re-runs fast; multilocation dupes dedupe via the cache.\nconst fs = require('fs');\nconst cfg = JSON.parse(fs.readFileSync('/tmp/scrape_config.json', 'utf-8'));\nconst sleep = (ms) => new Promise(r => setTimeout(r, ms));\nconst rand = (a, b) => Math.floor(a + Math.random() * (b - a));\nconst UA = 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/126.0.0.0 Safari/537.36';\nconst BLOCK = ['captcha', 'just a moment', 'cf-chl', 'datadome', 'access denied', 'attention required'];\nconst nurl = (u) => String(u || '').split('?')[0].replace(/\\/+$/, '').toLowerCase();\nconst CACHE_PATH = cfg.descCache || '/output/desc_cache.json';\n\n// Filters: default from cfg.category; overridden by a pasted browser URL if present.\nconst city = cfg.location || 'Wrocław';\nlet empTypes = [(cfg.category && String(cfg.category).trim()) || 'internship'];\nlet expLevels = [];\nconst ov = cfg.urls && cfg.urls.justjoin && String(cfg.urls.justjoin).trim();\nif (ov) {\n  const q = ov.split('?')[1] || '';\n  const p = {};\n  q.split('&').forEach(kv => { const i = kv.indexOf('='); if (i > 0) p[kv.slice(0, i)] = decodeURIComponent(kv.slice(i + 1)); });\n  const et = p['employment-types'] || p['employment-type'];\n  const el = p['experience-level'] || p['experience-levels'];\n  if (et) empTypes = et.split(',');\n  if (el) expLevels = el.split(',');\n}\n\nlet offers = [];\nlet blocked = false;\nlet details_fetched = 0, details_cached = 0, detail_errors = 0, detailAborted = false;\nconst page = await $browser.newPage();\ntry {\n  await page.setUserAgent(UA);\n  await page.setViewport({ width: 1366, height: 900 });\n  await sleep(rand(2500, 6000));\n  await page.goto('https://justjoin.it/', { waitUntil: 'domcontentloaded', timeout: 60000 });\n  await sleep(rand(1200, 2500));\n  const bt = ((await page.evaluate(() => document.body ? document.body.innerText : '')) || '').toLowerCase();\n  if (BLOCK.some(m => bt.includes(m))) {\n    blocked = true;\n  } else {\n    const raw = await page.evaluate(async (city, empTypes, expLevels, UA) => {\n      const all = []; const per = 100;\n      for (let p = 1; p <= 10; p++) {\n        let url = 'https://api.justjoin.it/v2/user-panel/offers?page=' + p + '&perPage=' + per + '&city=' + encodeURIComponent(city);\n        empTypes.forEach(t => { if (t) url += '&employmentTypes[]=' + encodeURIComponent(t); });\n        expLevels.forEach(t => { if (t) url += '&experienceLevels[]=' + encodeURIComponent(t); });\n        let r;\n        try { r = await fetch(url, { headers: { version: '2', 'User-Agent': UA, 'Accept': 'application/json' } }); }\n        catch (e) { return { err: 'fetch ' + e.message, all }; }\n        if (!r.ok) return { err: 'http ' + r.status, all };\n        const j = await r.json();\n        const data = j.data || (Array.isArray(j) ? j : []);\n        if (!data.length) break;\n        all.push(...data);\n        const tp = (j.meta && (j.meta.totalPages || j.meta.total_pages));\n        if ((tp && p >= tp) || data.length < per) break;\n        await new Promise(res => setTimeout(res, 800 + Math.random() * 1200));\n      }\n      return { all };\n    }, city, empTypes, expLevels, UA);\n\n    // Return ALL offers the filter yields (no extra over-filtering — Claude filters later).\n    offers = (raw.all || []).map(o => {\n      const et = (o.employmentTypes && o.employmentTypes[0]) || {};\n      return {\n        source: 'justjoin', company: o.companyName || null, title: o.title || null,\n        url: o.slug ? ('https://justjoin.it/job-offer/' + o.slug) : null,\n        city: o.city || (o.multilocation && o.multilocation[0] && o.multilocation[0].city) || null,\n        salary_from: (et.from !== undefined ? et.from : null), salary_to: (et.to !== undefined ? et.to : null),\n        salary_currency: (et.currency !== undefined ? et.currency : null), contract_type: (et.type !== undefined ? et.type : null),\n        experience_level: o.experienceLevel || null, published_at: o.publishedAt || null, remote: o.workplaceType === 'remote'\n      };\n    }).filter(o => o.url);\n  }\n} catch (e) {}\n\n// ====== DETAIL PHASE (V3) — full description per offer from the SSR offer page ======\n// No detail API exists (all 404, verified live). Each https://justjoin.it/job-offer/{slug}\n// is server-rendered and holds ONE <script type=\"application/ld+json\"> with the full\n// plain-text description. One fetch = one page.evaluate; sleeps happen node-side.\nif (!blocked && offers.length) {\n  // Cache: read once (best-effort), key = nurl(url) — matches Excel Writer's dedup key.\n  let cache = {};\n  try { const c = JSON.parse(fs.readFileSync(CACHE_PATH, 'utf-8')); if (c && typeof c === 'object') cache = c; } catch (e) {}\n\n  try {\n    for (const off of offers) {\n      if (detailAborted) break;\n      if (!off || !off.url) continue;\n      const key = nurl(off.url);\n\n      // Cache hit → reuse fields (also dedupes multilocation twins in the same run).\n      const hit = cache[key];\n      if (hit && hit.f && typeof hit.f.description === 'string' && hit.f.description) {\n        Object.assign(off, hit.f);\n        details_cached++;\n        continue;\n      }\n\n      // Politeness: jittered delay in Node context BEFORE each network hit.\n      await sleep(rand(800, 2500));\n\n      let res = null;\n      try {\n        res = await page.evaluate(async (u, BLOCK) => {\n          try {\n            // Hard 30s cap so this evaluate can never approach protocolTimeout.\n            const ctrl = new AbortController();\n            const tid = setTimeout(() => ctrl.abort(), 30000);\n            let html;\n            try {\n              const r = await fetch(u, { signal: ctrl.signal, headers: { 'Accept': 'text/html' } });\n              if (r.status === 403 || r.status === 429) return { block: 'http ' + r.status };\n              if (!r.ok) return { err: 'http ' + r.status };\n              // Read the body while the abort signal is still armed — an aborted\n              // signal also rejects an in-progress text(), so the 30s cap covers\n              // headers AND body (a trickling body can otherwise hang the evaluate).\n              html = await r.text();\n            } finally { clearTimeout(tid); }\n\n            // Single ld+json JobPosting block → full plain-text description.\n            const m = html.match(/<script[^>]*type=[\"']application\\/ld\\+json[\"'][^>]*>(.*?)<\\/script>/s);\n            if (!m) {\n              // Challenge/interstitial pages carry no JobPosting ld+json; their markers\n              // sit in <head>/title, so check the leading chunk only (avoids false hits\n              // deep in a legit offer's 790 KB flight payload).\n              const low = html.slice(0, 6000).toLowerCase();\n              const mark = BLOCK.find(b => low.includes(b));\n              if (mark) return { block: 'block-signal: ' + mark };\n              return { err: 'ld+json not found' };\n            }\n            let ld = null;\n            try { ld = JSON.parse(m[1]); } catch (e) { return { err: 'ld+json parse: ' + e.message }; }\n\n            const fields = {};\n            let desc = (ld && ld.description) ? String(ld.description) : '';\n            if (desc) {\n              // Already plain text, but run through DOMParser anyway: decodes entities,\n              // strips any residual tags. textContent keeps the \\n structure.\n              try {\n                const doc = new DOMParser().parseFromString(desc, 'text/html');\n                desc = (doc && doc.body ? (doc.body.textContent || '') : desc);\n              } catch (e) {}\n              desc = desc.replace(/\\r/g, '').replace(/\\n{3,}/g, '\\n\\n').trim().slice(0, 15000);\n            }\n            fields.description = desc || null;\n\n            // Bonus (best-effort): skills with levels from the RSC flight payload —\n            // the list API returns these as null. Omit keys on any failure.\n            try {\n              const grab = (re) => {\n                const mm = html.match(re);\n                if (!mm) return null;\n                const arr = JSON.parse('[' + mm[1].replace(/\\\\\"/g, '\"') + ']');\n                const out = arr.map(s => (s && s.name)\n                  ? (s.name + ((s.level !== undefined && s.level !== null) ? ' (level ' + s.level + ')' : ''))\n                  : null).filter(Boolean);\n                return out.length ? out : null;\n              };\n              const reqS = grab(/\\\\\"requiredSkills\\\\\":\\[([^\\]]*)\\]/);\n              const niceS = grab(/\\\\\"niceToHaveSkills\\\\\":\\[([^\\]]*)\\]/);\n              if (reqS) fields.skills_required = reqS;\n              if (niceS) fields.skills_nice = niceS;\n            } catch (e) {}\n\n            return { fields };\n          } catch (e) {\n            return { err: String((e && e.message) || e).slice(0, 120) };\n          }\n        }, off.url, BLOCK);\n      } catch (e) {\n        res = { err: 'evaluate: ' + String((e && e.message) || e).slice(0, 100) };\n      }\n      if (!res) res = { err: 'no result' };\n\n      if (res.block) {\n        // Block signal / 403 / 429 → stop the detail phase, keep everything so far.\n        off.description = off.description || null;\n        off.detail_error = String(res.block).slice(0, 120);\n        detail_errors++;\n        detailAborted = true;\n        break;\n      }\n      if (res.err || !res.fields) {\n        off.description = off.description || null;\n        off.detail_error = String(res.err || 'no fields').slice(0, 120);\n        detail_errors++;\n        continue;\n      }\n\n      const f = res.fields;\n      if (typeof f.description !== 'string' || !f.description) {\n        off.description = null;\n        off.detail_error = 'empty description';\n        detail_errors++;\n        continue;\n      }\n      Object.assign(off, f);\n      details_fetched++;\n      // Only cache successes (non-empty description) — never cache failures.\n      cache[key] = { t: Date.now(), f };\n    }\n  } catch (e) {}\n\n  // Write cache once at the end (best-effort; keeps partial progress after abort too).\n  try { fs.writeFileSync(CACHE_PATH, JSON.stringify(cache)); } catch (e) {}\n}\n\ntry { fs.writeFileSync(cfg.collectDir + '/justjoin.json', JSON.stringify({ source: 'justjoin', count: offers.length, offers })); } catch (e) {}\ntry { await page.close(); } catch (e) {}\nreturn [{ json: { site: 'justjoin', count: offers.length, blocked, details_fetched, details_cached, detail_errors, detailAborted } }];\n",
        "options": {}
      },
      "id": "v2-scr-0000-0000-0000-000000000000",
      "name": "JustJoin",
      "type": "n8n-nodes-puppeteer.puppeteer",
      "typeVersion": 1,
      "position": [
        440,
        300
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "runCustomScript",
        "scriptCode": "// ====== ROCKETJOBS.PL — official JSON API; honors pasted browser URL for filters ======\n// V3: + detail phase — full description z JSON-LD (JobPosting) na stronie oferty.\n// Brak detail API (404) — kazda strona /oferta-pracy/{slug} to SSR HTML (~1.2 MB)\n// z jednym <script type=\"application/ld+json\"> zawierajacym pelny opis jako HTML.\nconst fs = require('fs');\nconst cfg = JSON.parse(fs.readFileSync('/tmp/scrape_config.json', 'utf-8'));\nconst sleep = (ms) => new Promise(r => setTimeout(r, ms));\nconst rand = (a, b) => Math.floor(a + Math.random() * (b - a));\nconst UA = 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/126.0.0.0 Safari/537.36';\nconst BLOCK = ['captcha', 'just a moment', 'cf-chl', 'datadome', 'access denied', 'attention required'];\n// Klucz cache/dedup — MUSI byc identyczny z Excel Writerem:\nconst nurl = (u) => String(u || '').split('?')[0].replace(/\\/+$/, '').toLowerCase();\nconst CACHE_PATH = cfg.descCache || '/output/desc_cache.json';\n\nconst city = cfg.location || 'Wrocław';\nlet empTypes = [(cfg.category && String(cfg.category).trim()) || 'internship'];\nlet expLevels = [];\nconst ov = cfg.urls && cfg.urls.rocketjobs && String(cfg.urls.rocketjobs).trim();\nif (ov) {\n  const q = ov.split('?')[1] || '';\n  const p = {};\n  q.split('&').forEach(kv => { const i = kv.indexOf('='); if (i > 0) p[kv.slice(0, i)] = decodeURIComponent(kv.slice(i + 1)); });\n  // RocketJobs browser filters: typ-umowy (contract) + doswiadczenie (experience)\n  const tu = p['typ-umowy'];\n  if (tu) { const m = { 'umowa-o-staz': 'internship', 'umowa-o-prace': 'permanent', 'b2b': 'b2b', 'umowa-zlecenie': 'mandate_contract' }; empTypes = [m[tu] || tu]; }\n  const et = p['employment-types'] || p['employment-type']; if (et) empTypes = et.split(',');\n  const dosw = p['doswiadczenie'] || p['experience-level']; if (dosw) expLevels = dosw.split(',');\n}\n\nlet offers = [];\nlet blocked = false;\nlet detailsFetched = 0, detailsCached = 0, detailErrors = 0, detailAborted = false;\nconst page = await $browser.newPage();\ntry {\n  await page.setUserAgent(UA);\n  await page.setViewport({ width: 1366, height: 900 });\n  await sleep(rand(2500, 6000));\n  await page.goto('https://rocketjobs.pl/', { waitUntil: 'domcontentloaded', timeout: 60000 });\n  await sleep(rand(1200, 2500));\n  const bt = ((await page.evaluate(() => document.body ? document.body.innerText : '')) || '').toLowerCase();\n  if (BLOCK.some(m => bt.includes(m))) {\n    blocked = true;\n  } else {\n    const raw = await page.evaluate(async (city, empTypes, expLevels, UA) => {\n      const all = []; const per = 100;\n      for (let p = 1; p <= 10; p++) {\n        let url = 'https://api.rocketjobs.pl/v2/user-panel/offers?page=' + p + '&perPage=' + per + '&city=' + encodeURIComponent(city);\n        empTypes.forEach(t => { if (t) url += '&employmentTypes[]=' + encodeURIComponent(t); });\n        expLevels.forEach(t => { if (t) url += '&experienceLevels[]=' + encodeURIComponent(t); });\n        let r;\n        try { r = await fetch(url, { headers: { version: '2', 'User-Agent': UA, 'Accept': 'application/json' } }); }\n        catch (e) { return { err: 'fetch ' + e.message, all }; }\n        if (!r.ok) return { err: 'http ' + r.status, all };\n        const j = await r.json();\n        const data = j.data || (Array.isArray(j) ? j : []);\n        if (!data.length) break;\n        all.push(...data);\n        const tp = (j.meta && (j.meta.totalPages || j.meta.total_pages));\n        if ((tp && p >= tp) || data.length < per) break;\n        await new Promise(res => setTimeout(res, 800 + Math.random() * 1200));\n      }\n      return { all };\n    }, city, empTypes, expLevels, UA);\n\n    offers = (raw.all || []).map(o => {\n      const et = (o.employmentTypes && o.employmentTypes[0]) || {};\n      return {\n        source: 'rocketjobs', company: o.companyName || null, title: o.title || null,\n        url: o.slug ? ('https://rocketjobs.pl/oferta-pracy/' + o.slug) : null,\n        city: o.city || (o.multilocation && o.multilocation[0] && o.multilocation[0].city) || null,\n        salary_from: (et.from !== undefined ? et.from : null), salary_to: (et.to !== undefined ? et.to : null),\n        salary_currency: (et.currency !== undefined ? et.currency : null), contract_type: (et.type !== undefined ? et.type : null),\n        experience_level: o.experienceLevel || null, published_at: o.publishedAt || null, remote: o.workplaceType === 'remote'\n      };\n    }).filter(o => o.url);\n  }\n\n  // ====== DETAIL PHASE (V3) — pelne opisy z JSON-LD na stronach ofert ======\n  if (!blocked && offers.length) {\n    let cache = {};\n    try { const c = JSON.parse(fs.readFileSync(CACHE_PATH, 'utf-8')); if (c && typeof c === 'object') cache = c; } catch (e) { cache = {}; }\n    try {\n      let fetchedAny = false;  // sleep dopiero MIEDZY fetchami (cache-hity bez opoznien)\n      for (const offer of offers) {\n        if (!offer.url) continue;\n        const key = nurl(offer.url);\n        const hit = cache[key];\n        if (hit && hit.f && typeof hit.f.description === 'string' && hit.f.description) {\n          Object.assign(offer, hit.f);\n          detailsCached++;\n          continue;\n        }\n        if (fetchedAny) await sleep(rand(1500, 3000)); // strony ~1.2 MB — dluzsze opoznienia\n        fetchedAny = true;\n\n        let res = null;\n        try {\n          // JEDEN evaluate na oferte (protocolTimeout) — fetch + ekstrakcja w przegladarce\n          res = await page.evaluate(async (offerUrl, BLOCK) => {\n            try {\n              const ctrl = (typeof AbortController !== 'undefined') ? new AbortController() : null;\n              const killer = ctrl ? setTimeout(() => ctrl.abort(), 30000) : null;\n              let r;\n              try { r = await fetch(offerUrl, { headers: { 'Accept': 'text/html' }, signal: ctrl ? ctrl.signal : undefined }); }\n              finally { if (killer) clearTimeout(killer); }\n              if (!r.ok) return { httpStatus: r.status };\n              const html = await r.text();\n              // dokladnie jeden ld+json JobPosting na stronie — ale iterujemy defensywnie\n              const re = /<script[^>]*type=\"application\\/ld\\+json\"[^>]*>([\\s\\S]*?)<\\/script>/gi;\n              let m, jp = null;\n              while ((m = re.exec(html)) !== null) {\n                try {\n                  const obj = JSON.parse(m[1]);\n                  const arr = Array.isArray(obj) ? obj : [obj];\n                  const found = arr.find(x => x && x['@type'] === 'JobPosting');\n                  if (found) { jp = found; break; }\n                } catch (e) {}\n              }\n              if (!jp) {\n                // brak JobPosting = to nie jest normalna strona oferty -> sprawdz sygnaly blokady\n                // (na poprawnej stronie nie skanujemy — 'captcha' w bundlach JS to false-positive)\n                const low = html.toLowerCase();\n                if (BLOCK.some(s => low.includes(s))) return { blockSignal: true };\n                return { err: 'ld+json JobPosting not found' };\n              }\n              let dhtml = String(jp.description || '');\n              // naglowki sekcji -> WIELKIE LITERY z dwukropkiem; struktura blokow -> \\n\n              dhtml = dhtml\n                .replace(/<h[1-6][^>]*>([\\s\\S]*?)<\\/h[1-6]>/gi, (m0, t) => '\\n\\n' + t.replace(/<[^>]+>/g, ' ').replace(/\\s+/g, ' ').trim().replace(/[:\\s]+$/, '').toUpperCase() + ':\\n')\n                .replace(/<br\\s*\\/?>/gi, '\\n')\n                .replace(/<li[^>]*>/gi, '\\n- ')\n                .replace(/<\\/(p|div|li|ul|ol|tr|table|section)>/gi, '\\n');\n              let txt = '';\n              try {\n                const doc = new DOMParser().parseFromString(dhtml, 'text/html');\n                txt = (doc.body && (doc.body.innerText || doc.body.textContent)) || '';\n              } catch (e) { txt = dhtml.replace(/<[^>]+>/g, ' '); }\n              txt = txt.replace(/ /g, ' ').replace(/[ \\t]+/g, ' ').replace(/ *\\n */g, '\\n').replace(/\\n{3,}/g, '\\n\\n').trim();\n              return { desc: txt, validThrough: jp.validThrough || null };\n            } catch (e) { return { err: 'fetch ' + String((e && e.message) || e) }; }\n          }, offer.url, BLOCK);\n        } catch (e) { res = { err: 'evaluate ' + String((e && e.message) || e).slice(0, 120) }; }\n\n        if (!res) res = { err: 'empty result' };\n        if (res.blockSignal || res.httpStatus === 403 || res.httpStatus === 429) {\n          // sygnal blokady — natychmiast przerywamy faze detali, lista zostaje\n          detailAborted = true;\n          offer.detail_error = res.blockSignal ? 'block signal' : ('http ' + res.httpStatus);\n          detailErrors++;\n          break;\n        }\n        if (res.desc && typeof res.desc === 'string' && res.desc.trim()) {\n          const f = { description: res.desc.slice(0, 15000) };\n          if (res.validThrough) f.valid_through = res.validThrough;\n          Object.assign(offer, f);\n          cache[key] = { t: Date.now(), f }; // cache tylko udanych (niepusty opis)\n          detailsFetched++;\n        } else {\n          // per-offer failure (non-403/429): detail_error + jedziemy dalej (konwencja)\n          offer.description = null;\n          offer.detail_error = String(res.err || (res.httpStatus ? 'http ' + res.httpStatus : 'empty description')).slice(0, 160);\n          detailErrors++;\n        }\n      }\n    } catch (e) {} // totalna awaria fazy detali nie moze zabic danych z listy\n    try { fs.writeFileSync(CACHE_PATH, JSON.stringify(cache)); } catch (e) {}\n  }\n} catch (e) {}\ntry { fs.writeFileSync(cfg.collectDir + '/rocketjobs.json', JSON.stringify({ source: 'rocketjobs', count: offers.length, offers })); } catch (e) {}\ntry { await page.close(); } catch (e) {}\nreturn [{ json: { site: 'rocketjobs', count: offers.length, blocked, details_fetched: detailsFetched, details_cached: detailsCached, detail_errors: detailErrors, detailAborted } }];\n",
        "options": {}
      },
      "id": "v2-scr-0001-0000-0000-000000000001",
      "name": "RocketJobs",
      "type": "n8n-nodes-puppeteer.puppeteer",
      "typeVersion": 1,
      "position": [
        660,
        300
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "runCustomScript",
        "scriptCode": "// ===== NoFluffJobs scraper (n8n-nodes-puppeteer, runCustomScript) =====\n// Strategy: load the criteria page in a real browser (cookies + edge check),\n// then hit the site's own JSON API from inside the page. Fall back to the\n// embedded Angular TransferState JSON, then to DOM links. Gentle by design.\n// V3: after the list, fetch full descriptions via the official detail API\n// GET https://nofluffjobs.com/api/posting/{slug} (verified live, ~19KB JSON),\n// with an on-disk description cache so re-runs stay fast.\n\nconst fs = require('fs');\n\n// ---------- 1. config ----------\nconst cfg = JSON.parse(fs.readFileSync('/tmp/scrape_config.json', 'utf-8'));\n// cfg = { keyword, category, location, radius, collectDir, descCache }\n\n// ---------- helpers ----------\nconst sleep = (ms) => new Promise((r) => setTimeout(r, ms));\nconst rand = (min, max) => Math.floor(min + Math.random() * (max - min));\nconst jitter = (min, max) => sleep(rand(min, max));\n\n// strip diacritics (incl. L-stroke), lowercase, spaces -> '-'\nconst stripDiacritics = (s) =>\n  (s || '')\n    .normalize('NFD')\n    .replace(/[̀-ͯ]/g, '') // strip combining diacritical marks\n    .replace(/[Łł]/g, 'l') // L-stroke -> l (does not decompose)\n    .toLowerCase()\n    .trim()\n    .replace(/\\s+/g, '-');\n\nconst SITE = 'nofluffjobs';\n\n// Shared block-signal needles (used for the warm-up page AND detail responses).\nconst BLOCK_NEEDLES = [\n  'captcha',\n  'just a moment',\n  'cf-chl',\n  'datadome',\n  'access denied',\n  'attention required',\n];\n\n// Cache key normalizer — MUST match Excel Writer's dedup key exactly.\nconst nurl = (u) => String(u || '').split('?')[0].replace(/\\/+$/, '').toLowerCase();\n\n// ---------- build search from cfg (nothing hardcoded but the domain) ----------\nconst citySlug = stripDiacritics(cfg.location || 'Wroclaw'); // e.g. 'wroclaw'\nconst keyword = (cfg.keyword == null ? '' : String(cfg.keyword)).trim();\nconst category = stripDiacritics(cfg.category || '');\nconst radius =\n  cfg.radius === 0 || cfg.radius ? String(cfg.radius).trim() : '';\n\n// NoFluffJobs is an IT-only board: an \"internship\" == seniority \"trainee\".\n// Warm-up URL criteria pairs (Angular tolerates extra keys like distance).\nconst urlPairs = [];\nif (citySlug) urlPairs.push(['city', citySlug]);\nif (radius) urlPairs.push(['distance', radius]);\nif (category) urlPairs.push(['category', category]);\nurlPairs.push(['seniority', 'trainee']);\n\n// Criteria pairs sent to the JSON API (known-good keys only, no distance).\nconst apiPairs = urlPairs.filter((pair) => pair[0] !== 'distance');\n\nconst criteria = urlPairs\n  .map((pair) => `${pair[0]}%3D${encodeURIComponent(pair[1])}`)\n  .join(',');\n\n// keyword lives in the URL path segment when present\nconst kwPath = keyword\n  ? '/' + encodeURIComponent(keyword.toLowerCase().replace(/\\s+/g, '-'))\n  : '';\n\nconst pageUrl = `https://nofluffjobs.com/pl/praca-it${kwPath}?criteria=${criteria}`;\n\n// Raw search string form used by the JSON API: free-text keyword + key=value.\nconst rawSearch = [keyword]\n  .concat(apiPairs.map((pair) => `${pair[0]}=${pair[1]}`))\n  .filter(Boolean)\n  .join(' ');\n\nconst outFile = `${cfg.collectDir}/${SITE}.json`;\n\n// ---------- description cache (read once at start) ----------\nconst CACHE_PATH = cfg.descCache || '/output/desc_cache.json';\nlet descCache = {};\ntry {\n  const parsed = JSON.parse(fs.readFileSync(CACHE_PATH, 'utf-8'));\n  if (parsed && typeof parsed === 'object' && !Array.isArray(parsed)) {\n    descCache = parsed;\n  }\n} catch (e) {\n  descCache = {}; // missing/corrupt cache is fine — start fresh\n}\nlet cacheDirty = false;\n\nlet offers = [];\nlet blocked = false;\n\n// detail-phase counters (returned in the node status)\nlet detailsFetched = 0;\nlet detailsCached = 0;\nlet detailErrors = 0;\nlet detailAborted = false;\n\nconst writeOut = () => {\n  try {\n    fs.writeFileSync(\n      outFile,\n      JSON.stringify({ source: SITE, count: offers.length, offers })\n    );\n  } catch (e) {\n    /* best-effort: nothing else we can do here */\n  }\n};\n\n// epoch(ms or s) or ISO string -> ISO string\nconst toIso = (v) => {\n  if (!v) return undefined;\n  let n = typeof v === 'number' ? v : Date.parse(v);\n  if (!n || isNaN(n)) return undefined;\n  if (n < 1e12) n = n * 1000; // seconds -> ms\n  try {\n    return new Date(n).toISOString();\n  } catch (e) {\n    return undefined;\n  }\n};\n\n// Build an absolute nofluffjobs.com job URL from whatever slug/url we get.\nconst toAbsUrl = (slug) => {\n  if (!slug) return undefined;\n  const s = String(slug).trim();\n  if (!s) return undefined;\n  if (/^https?:\\/\\//i.test(s)) return s;\n  if (s.charAt(0) === '/') return 'https://nofluffjobs.com' + s;\n  return 'https://nofluffjobs.com/pl/job/' + s;\n};\n\n// Recover the detail-API slug from a stored offer url.\n// Slug = posting's `url` field (lowercase, diacritic-free) — NEVER the `id`\n// field, which may contain diacritics like 'Wrocław'.\nconst slugOf = (u) => {\n  const m = String(u || '').match(/\\/job\\/([^/?#]+)/i);\n  return m ? m[1].toLowerCase() : '';\n};\n\n// Find an array of posting-like objects anywhere in a JSON blob.\nconst findPostings = (root) => {\n  if (!root || typeof root !== 'object') return null;\n  if (Array.isArray(root.postings)) return root.postings;\n  const seen = new Set();\n  const queue = [root];\n  while (queue.length) {\n    const cur = queue.shift();\n    if (!cur || typeof cur !== 'object' || seen.has(cur)) continue;\n    seen.add(cur);\n    if (Array.isArray(cur)) {\n      if (\n        cur.length &&\n        cur.every(\n          (el) =>\n            el &&\n            typeof el === 'object' &&\n            'title' in el &&\n            ('name' in el || 'url' in el)\n        )\n      ) {\n        return cur;\n      }\n      cur.forEach((el) => queue.push(el));\n    } else {\n      if (Array.isArray(cur.postings)) return cur.postings;\n      Object.keys(cur).forEach((k) => queue.push(cur[k]));\n    }\n  }\n  return null;\n};\n\n// Map one NoFluffJobs posting -> the common offer shape (omit unknowns).\nconst mapPosting = (p) => {\n  if (!p || typeof p !== 'object') return null;\n  const o = { source: SITE };\n\n  if (p.title) o.title = String(p.title).trim();\n  if (p.name) o.company = String(p.name).trim();\n\n  // location / remote\n  const loc = p.location || {};\n  let remote = loc.fullyRemote === true;\n  const places = Array.isArray(loc.places) ? loc.places : [];\n  const cityPlace = places.find((pl) => pl && pl.city);\n  if (cityPlace) o.city = String(cityPlace.city).trim();\n  else if (remote) o.city = 'Remote';\n  o.remote = remote;\n\n  // salary (may be object or first element of an array)\n  let sal = p.salary;\n  if (Array.isArray(sal)) sal = sal[0];\n  sal = sal || {};\n  if (typeof sal.from === 'number') o.salary_from = sal.from;\n  if (typeof sal.to === 'number') o.salary_to = sal.to;\n  if (sal.currency) o.salary_currency = sal.currency;\n  if (sal.type) o.contract_type = String(sal.type); // b2b / permanent / mandate\n\n  // seniority -> experience_level\n  const sen = p.seniority;\n  if (Array.isArray(sen) && sen.length) o.experience_level = sen.join(', ');\n  else if (typeof sen === 'string' && sen) o.experience_level = sen;\n\n  const pub = toIso(p.posted || p.renewed || p.published);\n  if (pub) o.published_at = pub;\n\n  const url = toAbsUrl(p.url || p.slug || p.postingUrl);\n  if (url) o.url = url;\n\n  return o.title || o.url ? o : null;\n};\n\nconst page = await $browser.newPage();\n\ntry {\n  // ---------- 3. SAFETY: identity + warm-up ----------\n  await page.setUserAgent(\n    'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 ' +\n      '(KHTML, like Gecko) Chrome/133.0.0.0 Safari/537.36'\n  );\n  await page.setViewport({ width: 1366, height: 900 });\n  await page.setExtraHTTPHeaders({\n    'Accept-Language': 'pl-PL,pl;q=0.9,en;q=0.8',\n  });\n\n  // random delay before the very first navigation\n  await jitter(2500, 6000);\n\n  await page.goto(pageUrl, { waitUntil: 'domcontentloaded', timeout: 60000 });\n\n  // give Angular time to bootstrap and fire its own XHRs; also lets cookies set\n  await jitter(3000, 5000);\n  try {\n    await page.waitForSelector('a[href*=\"/job/\"], nfj-postings-list', {\n      timeout: 12000,\n    });\n  } catch (e) {\n    /* fine: API path does not need rendered cards */\n  }\n\n  // ---------- 4. BLOCK DETECTION ----------\n  const curUrl = page.url();\n  let bodyText = '';\n  try {\n    bodyText = await page.evaluate(() =>\n      document.body ? document.body.innerText : ''\n    );\n  } catch (e) {}\n  const lower = (bodyText || '').toLowerCase();\n  if (\n    /\\/(challenge|cdn-cgi\\/challenge)/i.test(curUrl) ||\n    BLOCK_NEEDLES.some((n) => lower.includes(n))\n  ) {\n    blocked = true;\n  }\n\n  // ---------- 5. PARSE OFFERS ----------\n  if (!blocked) {\n    let gotValidResponse = false;\n    let apiBlockSignal = false;\n    const pageSize = 100;\n    const maxPages = 10;\n\n    // In-browser API call. Tries two known body formats.\n    const apiFetch = (bodyMode, pageTo, size) =>\n      page.evaluate(\n        async (rawSearch, bodyMode, pageTo, size) => {\n          const url =\n            'https://nofluffjobs.com/api/search/posting' +\n            `?pageTo=${pageTo}&pageSize=${size}` +\n            '&salaryCurrency=PLN&salaryPeriod=Month&region=pl&language=pl-PL';\n          let body;\n          if (bodyMode === 'raw') {\n            body = JSON.stringify({ rawSearch });\n          } else {\n            const crit = {};\n            rawSearch\n              .split(' ')\n              .filter(Boolean)\n              .forEach((pair) => {\n                const idx = pair.indexOf('=');\n                if (idx < 0) return;\n                const k = pair.slice(0, idx);\n                const v = pair.slice(idx + 1);\n                (crit[k] = crit[k] || []).push(v);\n              });\n            body = JSON.stringify({ criteriaSearch: crit, rawJobs: [], url: '' });\n          }\n          try {\n            const res = await fetch(url, {\n              method: 'POST',\n              credentials: 'include',\n              headers: {\n                'Content-Type': 'application/json',\n                Accept: 'application/json',\n              },\n              body,\n            });\n            let json = null;\n            try {\n              json = await res.json();\n            } catch (e) {}\n            return { ok: res.ok, status: res.status, json };\n          } catch (e) {\n            return { ok: false, status: 0, json: null, error: String(e) };\n          }\n        },\n        rawSearch,\n        bodyMode,\n        pageTo,\n        size\n      );\n\n    const collect = (json) => {\n      const arr = Array.isArray(json && json.postings)\n        ? json.postings\n        : findPostings(json) || [];\n      arr.forEach((p) => {\n        const m = mapPosting(p);\n        if (m) offers.push(m);\n      });\n      return arr.length;\n    };\n\n    // Detect a working body format on page 1.\n    let workingMode = null;\n    let firstJson = null;\n    for (const mode of ['raw', 'criteria']) {\n      const r = await apiFetch(mode, 1, pageSize);\n      if (r && (r.status === 403 || r.status === 429)) apiBlockSignal = true;\n      if (\n        r &&\n        r.json &&\n        (Array.isArray(r.json.postings) || findPostings(r.json))\n      ) {\n        workingMode = mode;\n        firstJson = r.json;\n        gotValidResponse = true;\n        break;\n      }\n      await jitter(1200, 2600);\n    }\n\n    if (workingMode) {\n      const firstCount = collect(firstJson);\n      const totalPages = Number(firstJson.totalPages) || 1;\n      // Trainee+city results are tiny; only paginate if a full page came back.\n      if (firstCount >= pageSize && totalPages > 1) {\n        for (let pg = 2; pg <= Math.min(totalPages, maxPages); pg++) {\n          await jitter(1500, 3500); // randomized delay between pages\n          const r = await apiFetch(workingMode, pg, pageSize);\n          if (!r || !r.json) break;\n          if (r.status === 403 || r.status === 429) {\n            apiBlockSignal = true;\n            break;\n          }\n          if (!collect(r.json)) break;\n        }\n      }\n    }\n\n    // Fallback A: embedded Angular TransferState / JSON-LD\n    if (offers.length === 0) {\n      let embedded = [];\n      try {\n        embedded = await page.evaluate(() => {\n          const out = [];\n          document\n            .querySelectorAll(\n              'script[type=\"application/json\"], script[type=\"application/ld+json\"]'\n            )\n            .forEach((s) => {\n              const t = (s.textContent || '').trim();\n              if (t.length > 20) out.push(t);\n            });\n          return out;\n        });\n      } catch (e) {}\n      for (const raw of embedded) {\n        try {\n          const j = JSON.parse(raw);\n          const arr = findPostings(j);\n          if (arr && arr.length) {\n            gotValidResponse = true;\n            arr.forEach((p) => {\n              const m = mapPosting(p);\n              if (m) offers.push(m);\n            });\n            if (offers.length) break;\n          }\n        } catch (e) {}\n      }\n    }\n\n    // Fallback B: rendered DOM anchors -> best effort (needs live tuning)\n    if (offers.length === 0) {\n      let domOffers = [];\n      try {\n        domOffers = await page.evaluate(() => {\n          const res = [];\n          const seen = new Set();\n          document.querySelectorAll('a[href*=\"/job/\"]').forEach((a) => {\n            const href = a.getAttribute('href') || '';\n            if (!href || seen.has(href)) return;\n            seen.add(href);\n            const h = a.querySelector('h3, [data-cy*=\"title\"]');\n            const title = ((h && h.innerText) || a.innerText || '').trim();\n            res.push({ href, title });\n          });\n          return res;\n        });\n      } catch (e) {}\n      domOffers.forEach((d) => {\n        const url = toAbsUrl(d.href);\n        if (!url) return;\n        const o = { source: SITE, url };\n        if (d.title) o.title = d.title;\n        offers.push(o);\n      });\n    }\n\n    // De-duplicate by url (fallback key: title|company)\n    const seenKey = new Set();\n    offers = offers.filter((o) => {\n      const key = o.url || `${o.title || ''}|${o.company || ''}`;\n      if (seenKey.has(key)) return false;\n      seenKey.add(key);\n      return true;\n    });\n\n    // If we never got a valid structure AND have zero offers, something is off\n    // (edge check / soft block). Do NOT retry -- flag and move on.\n    if (offers.length === 0 && (!gotValidResponse || apiBlockSignal)) {\n      blocked = true;\n    }\n  }\n} catch (e) {\n  // Unexpected error: keep whatever we have; still write the file below.\n}\n\n// ---------- 6. DETAIL PHASE (V3): full descriptions via /api/posting/{slug} ----------\n// One short page.evaluate per offer (single fetch inside — never a long loop,\n// protocolTimeout safety), jittered sleeps in the Node context between calls.\n// A total failure here must still leave the V2 list output intact.\ntry {\n  if (!blocked && offers.length) {\n    // Fetch + parse + compose ONE posting's detail inside the browser context.\n    // Returns { ok, status, fields, text } — `text` is a short body snippet\n    // used Node-side for block-signal checks.\n    const fetchDetail = (slug) =>\n      page.evaluate(async (slug) => {\n        const out = { ok: false, status: 0, fields: null, text: '' };\n        try {\n          const res = await fetch(\n            'https://nofluffjobs.com/api/posting/' + encodeURIComponent(slug),\n            {\n              credentials: 'include',\n              headers: { Accept: 'application/json' },\n            }\n          );\n          out.status = res.status;\n          let raw = '';\n          try {\n            raw = await res.text();\n          } catch (e) {}\n          out.text = (raw || '').slice(0, 2000);\n          if (!res.ok) return out;\n\n          let j = null;\n          try {\n            j = JSON.parse(raw);\n          } catch (e) {\n            return out;\n          }\n          if (!j || typeof j !== 'object') return out;\n\n          // HTML -> plain text (DOMParser), keeping block-level line breaks.\n          const strip = (html) => {\n            if (html == null) return '';\n            let s = String(html);\n            if (!/[<&]/.test(s)) return s.trim();\n            s = s\n              .replace(/<br\\s*\\/?>/gi, '\\n')\n              .replace(/<\\/(p|li|div|h[1-6]|tr|ul|ol|section)>/gi, '\\n');\n            try {\n              const doc = new DOMParser().parseFromString(s, 'text/html');\n              const b = doc.body;\n              return ((b && (b.innerText || b.textContent)) || '').trim();\n            } catch (e) {\n              return s.replace(/<[^>]*>/g, ' ').trim();\n            }\n          };\n          const clean = (t) =>\n            strip(t)\n              .replace(/\\r/g, '')\n              .replace(/[ \\t]+\\n/g, '\\n')\n              .replace(/\\n{3,}/g, '\\n\\n')\n              .trim();\n          // Coerce to array; some blobs wrap lists as { items: [...] }.\n          const arrOf = (v) =>\n            Array.isArray(v) ? v : v && Array.isArray(v.items) ? v.items : [];\n          // Array of strings / {value} / {name} / {code} -> clean strings.\n          const listVals = (v) =>\n            arrOf(v)\n              .map((el) => {\n                if (el == null) return '';\n                if (typeof el === 'string') return strip(el);\n                if (typeof el === 'object') {\n                  const raw =\n                    el.value != null\n                      ? el.value\n                      : el.name != null\n                      ? el.name\n                      : el.code != null\n                      ? el.code\n                      : '';\n                  return strip(raw);\n                }\n                return '';\n              })\n              .map((s) => s.trim())\n              .filter(Boolean);\n\n          const det = (j.details && typeof j.details === 'object' && j.details) || {};\n          const req =\n            (j.requirements && typeof j.requirements === 'object' && j.requirements) || {};\n          const specs = (j.specs && typeof j.specs === 'object' && j.specs) || {};\n          const ben =\n            (j.benefits && typeof j.benefits === 'object' && j.benefits) || {};\n\n          const musts = listVals(req.musts);\n          const nices = listVals(req.nices);\n\n          const sections = [];\n\n          const descTxt = clean(det.description || j.description);\n          if (descTxt) sections.push('OPIS:\\n' + descTxt);\n\n          const reqParts = [];\n          const reqDesc = clean(req.description);\n          if (reqDesc) reqParts.push(reqDesc);\n          if (musts.length)\n            reqParts.push(musts.map((s) => '- ' + s).join('\\n'));\n          const langs = listVals(req.languages);\n          if (langs.length) reqParts.push('Języki: ' + langs.join(', '));\n          if (reqParts.length)\n            sections.push('WYMAGANIA:\\n' + reqParts.join('\\n'));\n\n          if (nices.length)\n            sections.push(\n              'MILE WIDZIANE:\\n' + nices.map((s) => '- ' + s).join('\\n')\n            );\n\n          const tasks = listVals(specs.dailyTasks).length\n            ? listVals(specs.dailyTasks)\n            : listVals(specs.responsibilities);\n          if (tasks.length)\n            sections.push('OBOWIĄZKI:\\n' + tasks.map((s) => '- ' + s).join('\\n'));\n\n          const benItems = []\n            .concat(listVals(ben.benefits))\n            .concat(listVals(ben.equipment))\n            .concat(listVals(ben.officePerks));\n          if (benItems.length)\n            sections.push('BENEFITY:\\n' + benItems.map((s) => '- ' + s).join('\\n'));\n\n          const description = sections\n            .join('\\n\\n')\n            .replace(/\\n{3,}/g, '\\n\\n')\n            .trim()\n            .slice(0, 15000);\n\n          const fields = { description: description || null };\n          if (musts.length) fields.skills_required = musts;\n          if (nices.length) fields.skills_nice = nices;\n          out.fields = fields;\n          out.ok = true;\n        } catch (e) {\n          out.text = String((e && e.message) || e);\n        }\n        return out;\n      }, slug);\n\n    let consecHardFails = 0; // e.g. page died -> stop wasting time\n\n    for (const offer of offers) {\n      if (detailAborted) break;\n      if (!offer || !offer.url) continue; // no url -> nothing to fetch\n\n      const key = nurl(offer.url);\n      const hit = descCache[key];\n      if (\n        hit &&\n        hit.f &&\n        typeof hit.f.description === 'string' &&\n        hit.f.description\n      ) {\n        Object.assign(offer, hit.f); // cache hit — no network, no sleep\n        detailsCached++;\n        continue;\n      }\n\n      const slug = slugOf(offer.url);\n      if (!slug) {\n        offer.detail_error = 'no slug in url';\n        detailErrors++;\n        continue;\n      }\n\n      // politeness: jittered delay before every real fetch (NFJ: 800-2000 ms)\n      await jitter(800, 2000);\n\n      let r = null;\n      try {\n        r = await fetchDetail(slug);\n      } catch (e) {\n        r = { ok: false, status: 0, fields: null, text: String((e && e.message) || e) };\n      }\n\n      // Block signals: HTTP 403/429 or needle in the body -> abort the phase,\n      // but KEEP the list data and every description fetched so far.\n      const lowBody = String((r && r.text) || '').toLowerCase();\n      if (\n        (r && (r.status === 403 || r.status === 429)) ||\n        BLOCK_NEEDLES.some((n) => lowBody.includes(n))\n      ) {\n        detailAborted = true;\n        offer.detail_error = 'blocked (status ' + ((r && r.status) || 0) + ')';\n        detailErrors++;\n        break;\n      }\n\n      if (r && r.ok && r.fields) {\n        consecHardFails = 0;\n        Object.assign(offer, r.fields);\n        detailsFetched++;\n        // Only cache real, non-empty descriptions — never cache failures.\n        if (typeof r.fields.description === 'string' && r.fields.description) {\n          descCache[key] = { t: Date.now(), f: r.fields };\n          cacheDirty = true;\n        }\n      } else {\n        offer.detail_error =\n          'detail fetch failed (status ' + ((r && r.status) || 0) + ')';\n        detailErrors++;\n        // status 0 = fetch/evaluate itself died (network, closed page, ...):\n        // three in a row means the page is gone — abort instead of looping.\n        if (!r || r.status === 0) {\n          consecHardFails++;\n          if (consecHardFails >= 3) detailAborted = true;\n        } else {\n          consecHardFails = 0;\n        }\n      }\n    }\n  }\n} catch (e) {\n  // Detail phase must never take down the run: fall back to V2-equivalent\n  // output (list data, no descriptions) and report via detailAborted.\n  detailAborted = true;\n}\n\n// Guarantee the field exists on every offer (null = unavailable).\ntry {\n  offers.forEach((o) => {\n    if (o && typeof o === 'object' && !('description' in o)) o.description = null;\n  });\n} catch (e) {}\n\n// persist the description cache (best-effort, once, at the end)\nif (cacheDirty) {\n  try {\n    fs.writeFileSync(CACHE_PATH, JSON.stringify(descCache));\n  } catch (e) {}\n}\n\n// ---------- 7. write results (always) ----------\nwriteOut();\n\n// ---------- 8. cleanup + return ----------\ntry {\n  await page.close();\n} catch (e) {}\n\nreturn [\n  {\n    json: {\n      site: SITE,\n      count: offers.length,\n      blocked,\n      details_fetched: detailsFetched,\n      details_cached: detailsCached,\n      detail_errors: detailErrors,\n      detailAborted,\n    },\n  },\n];\n",
        "options": {}
      },
      "id": "v2-scr-0002-0000-0000-000000000002",
      "name": "NoFluffJobs",
      "type": "n8n-nodes-puppeteer.puppeteer",
      "typeVersion": 1,
      "position": [
        880,
        300
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "runCustomScript",
        "scriptCode": "// ====== TALENTDAYS — jobOffers/list API; honors pasted browser URL for filters ======\n// API: cursor must be '' first page, paginate via meta.nextCursor. Fields: position,\n// employer.name, city.name, wages, slug, experience. TalentDays mixes jobs + staż, so we\n// filter by experience (from ?doswiadczenie=…) if given, else by staż/praktyki/trainee title.\n// V3: detail phase — POST /api/rpc/jobOffers/get per offer (slug carried as _slug) returns\n// {json:{content: <full HTML description>}}; stripped via DOMParser, cached by nurl(url).\nconst fs = require('fs');\nconst cfg = JSON.parse(fs.readFileSync('/tmp/scrape_config.json', 'utf-8'));\nconst sleep = (ms) => new Promise(r => setTimeout(r, ms));\nconst rand = (a, b) => Math.floor(a + Math.random() * (b - a));\nconst deaccent = (s) => (s || '').replace(/ł/g, 'l').replace(/Ł/g, 'L').normalize('NFD').replace(/[̀-ͯ]/g, '').toLowerCase();\nconst UA = 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/126.0.0.0 Safari/537.36';\nconst BLOCK = ['captcha', 'just a moment', 'cf-chl', 'datadome', 'access denied', 'attention required'];\nconst INTERN_RE = /(sta[zż]yst|sta[zż]\\b|praktyk|intern|trainee)/i;\n\n// --- V3: description cache (shared across portal nodes; key must match Excel Writer dedup) ---\nconst CACHE_PATH = cfg.descCache || '/output/desc_cache.json';\nconst nurl = (u) => String(u || '').split('?')[0].replace(/\\/+$/, '').toLowerCase();\nlet cache = {};\ntry { cache = JSON.parse(fs.readFileSync(CACHE_PATH, 'utf-8')) || {}; } catch (e) { cache = {}; }\nlet detailsFetched = 0, detailsCached = 0, detailErrors = 0, detailAborted = false;\n\nlet citySlug = deaccent(cfg.location) || 'wroclaw';\nlet expFilter = null;\nconst ov = cfg.urls && cfg.urls.talentdays && String(cfg.urls.talentdays).trim();\nif (ov) {\n  const segs = ov.split('?')[0].replace(/\\/+$/, '').split('/');\n  if (segs.length) citySlug = segs[segs.length - 1] || citySlug;\n  const q = ov.split('?')[1] || '';\n  const p = {};\n  q.split('&').forEach(kv => { const i = kv.indexOf('='); if (i > 0) p[kv.slice(0, i)] = decodeURIComponent(kv.slice(i + 1)); });\n  if (p['doswiadczenie']) expFilter = String(p['doswiadczenie']).toUpperCase(); // e.g. ZERO\n}\n\nlet offers = [];\nlet blocked = false;\nconst page = await $browser.newPage();\ntry {\n  await page.setUserAgent(UA);\n  await page.setViewport({ width: 1366, height: 900 });\n  await sleep(rand(2500, 6000));\n  await page.goto('https://talentdays.pl/oferty-pracy-i-stazy/' + citySlug, { waitUntil: 'domcontentloaded', timeout: 60000 });\n  await sleep(rand(1200, 2500));\n  const bt = ((await page.evaluate(() => document.body ? document.body.innerText : '')) || '').toLowerCase();\n  if (BLOCK.some(m => bt.includes(m))) {\n    blocked = true;\n  } else {\n    const raw = await page.evaluate(async (citySlug, UA) => {\n      const API = 'https://talentdays.pl/api/rpc/jobOffers/list';\n      const all = []; let cursor = '';\n      for (let i = 0; i < 15; i++) {\n        let r;\n        try {\n          r = await fetch(API, { method: 'POST', headers: { 'Content-Type': 'application/json', 'User-Agent': UA }, credentials: 'include', body: JSON.stringify({ json: { perPage: 20, cursor: cursor, citySlugs: [citySlug] } }) });\n        } catch (e) { return { err: 'fetch ' + e.message, all }; }\n        if (!r.ok) return { err: 'http ' + r.status, all };\n        const j = await r.json();\n        const root = j.json || j.result || j;\n        const data = root.data || root.items || [];\n        if (!data.length) break;\n        all.push(...data);\n        const nc = (root.meta && root.meta.nextCursor) || null;\n        if (!nc) break;\n        cursor = nc;\n        await new Promise(res => setTimeout(res, 700 + Math.random() * 1000));\n      }\n      return { all };\n    }, citySlug, UA);\n\n    offers = (raw.all || []).map(o => {\n      const w = o.wages || {};\n      return {\n        source: 'talentdays', company: (o.employer && o.employer.name) || null, title: o.position || null,\n        url: o.slug ? ('https://talentdays.pl/praca-i-staz/' + o.slug) : null,\n        city: (o.city && o.city.name) || null,\n        salary_from: (w.min !== undefined ? w.min : null), salary_to: (w.max !== undefined ? w.max : null),\n        salary_currency: (w.currency !== undefined ? w.currency : null),\n        contract_type: o.jobType || null, experience_level: o.experience || null, published_at: null,\n        remote: Array.isArray(o.workplace) && o.workplace.includes('REMOTE'),\n        _exp: o.experience || null,\n        _slug: o.slug || null // temp — needed for jobOffers/get, removed before writing collect file\n      };\n    }).filter(o => {\n      if (!o.url) return false;\n      if (expFilter) return String(o._exp || '').toUpperCase() === expFilter; // e.g. only ZERO (entry-level)\n      return INTERN_RE.test(o.title || '');\n    }).map(o => { delete o._exp; return o; });\n\n    // ====== V3 DETAIL PHASE — full description per offer via jobOffers/get ======\n    // Cache hit → reuse; miss → one page.evaluate per fetch (same-origin, cookies ride along),\n    // node-side jittered sleep between fetches, abort on 403/429/block-signal, tolerate per-offer errors.\n    try {\n      for (const o of offers) {\n        if (detailAborted) break;\n        if (!o.url) continue; // no url = no key, no fetch\n        const key = nurl(o.url);\n        const hit = cache[key];\n        if (hit && hit.f && typeof hit.f.description === 'string' && hit.f.description) {\n          Object.assign(o, hit.f);\n          detailsCached++;\n          continue;\n        }\n        // slug: prefer the carried _slug, else re-derive from url\n        const slug = o._slug || (o.url.indexOf('/praca-i-staz/') >= 0 ? o.url.split('/praca-i-staz/')[1].replace(/\\/+$/, '') : null);\n        if (!slug) { o.detail_error = 'no slug'; detailErrors++; continue; }\n\n        await sleep(rand(700, 1700)); // politeness jitter (Node context, between evaluate calls)\n\n        let d = null;\n        try {\n          d = await page.evaluate(async (slug, UA, BLOCK) => {\n            const ctl = new AbortController();\n            const kill = setTimeout(() => ctl.abort(), 30000); // keep each evaluate well under protocolTimeout\n            try {\n              const r = await fetch('https://talentdays.pl/api/rpc/jobOffers/get', {\n                method: 'POST',\n                headers: { 'Content-Type': 'application/json', 'User-Agent': UA },\n                credentials: 'include',\n                body: JSON.stringify({ json: { type: 'public', slug: slug } }),\n                signal: ctl.signal\n              });\n              if (r.status === 403 || r.status === 429) return { blocked: true, err: 'http ' + r.status };\n              const txt = await r.text();\n              let j = null;\n              try { j = JSON.parse(txt); } catch (e) {\n                const low = (txt || '').toLowerCase();\n                if (BLOCK.some(m => low.includes(m))) return { blocked: true, err: 'block signal' };\n                return { err: 'bad json (http ' + r.status + ')' };\n              }\n              if (!r.ok) return { err: 'http ' + r.status };\n              // response may nest as j.json or j.result.data — probe defensively like the list code\n              const root = (j && j.json) || (j && j.result && j.result.data) || (j && j.result) || j || {};\n              const html = root.content || root.summary || '';\n              let text = null;\n              if (html) {\n                // keep block structure as newlines before stripping tags\n                const prep = String(html)\n                  .replace(/<br\\s*\\/?>/gi, '\\n')\n                  .replace(/<li[^>]*>/gi, '- ')\n                  .replace(/<\\/(li|tr)>/gi, '\\n')\n                  .replace(/<\\/(p|div|section|article|ul|ol|table|h[1-6])>/gi, '\\n\\n');\n                const doc = new DOMParser().parseFromString(prep, 'text/html');\n                text = ((doc.body && (doc.body.innerText || doc.body.textContent)) || '')\n                  .replace(/ /g, ' ').replace(/\\r/g, '')\n                  .replace(/[ \\t]+\\n/g, '\\n').replace(/\\n{3,}/g, '\\n\\n').trim();\n              }\n              const out = { description: text ? text.slice(0, 15000) : null };\n              if (root.application && root.application.url) out.apply_url = root.application.url;\n              if (root.expirationDate) out.expires_at = root.expirationDate;\n              return { fields: out };\n            } catch (e) {\n              return { err: 'fetch ' + ((e && e.message) || String(e)) };\n            } finally { clearTimeout(kill); }\n          }, slug, UA, BLOCK);\n        } catch (e) { d = { err: 'evaluate ' + e.message }; }\n\n        if (d && d.blocked) {\n          // block signal / 403 / 429 — stop the detail phase, keep everything gathered so far\n          detailAborted = true;\n          o.detail_error = d.err || 'blocked';\n          break;\n        }\n        if (d && d.fields && typeof d.fields.description === 'string' && d.fields.description) {\n          Object.assign(o, d.fields);\n          detailsFetched++;\n          cache[key] = { t: Date.now(), f: d.fields }; // only non-empty descriptions get cached\n        } else {\n          o.detail_error = (d && d.err) || 'no content';\n          detailErrors++;\n        }\n      }\n    } catch (e) {} // total detail-phase failure still yields V2-equivalent output (list data intact)\n  }\n} catch (e) {}\ntry { offers.forEach(o => { delete o._slug; if (!('description' in o)) o.description = null; }); } catch (e) {} // convention: description must be null if unavailable\ntry { fs.writeFileSync(CACHE_PATH, JSON.stringify(cache)); } catch (e) {} // best-effort\ntry { fs.writeFileSync(cfg.collectDir + '/talentdays.json', JSON.stringify({ source: 'talentdays', count: offers.length, offers })); } catch (e) {}\ntry { await page.close(); } catch (e) {}\nreturn [{ json: { site: 'talentdays', count: offers.length, blocked, details_fetched: detailsFetched, details_cached: detailsCached, detail_errors: detailErrors, detailAborted } }];\n",
        "options": {}
      },
      "id": "v2-scr-0003-0000-0000-000000000003",
      "name": "TalentDays",
      "type": "n8n-nodes-puppeteer.puppeteer",
      "typeVersion": 1,
      "position": [
        1100,
        300
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "runCustomScript",
        "scriptCode": "// ====== PRACUJ.PL — Puppeteer (n8n runCustomScript) ======\n// Cloudflare-fronted. Cards: [data-test=\"default-offer\"] / [data-test=\"offer\"].\n// Inside: [data-test=\"offer-title\"], [data-test=\"text-company-name\"],\n//         [data-test=\"text-region\"], a[href*=\",oferta,\"]. Pagination: &pn=N.\n// URL built from cfg: keyword -> ;kw, location -> ;wp slug, radius -> rd (km),\n//                     category -> tc (default 7 = staż/praktyki).\nconst fs = require('fs');\nconst path = require('path');\n\n// --- 1. CONFIG (read from file; ignore $json) ---\nconst cfg = JSON.parse(fs.readFileSync('/tmp/scrape_config.json', 'utf-8'));\nconst keyword = (cfg.keyword != null ? String(cfg.keyword) : '').trim();\nconst category = (cfg.category != null && String(cfg.category).trim() !== '')\n  ? String(cfg.category).trim()\n  : '7'; // default: staż/praktyki (tc=7), proven working value\nconst radius = cfg.radius || 30;\nconst collectDir = cfg.collectDir;\n\n// --- 2. Build URL from cfg (diacritic-stripped lowercase city slug) ---\nconst slugifyCity = (s) => (s || 'Wrocław')\n  .normalize('NFD').replace(/[̀-ͯ]/g, '')\n  .replace(/ł/g, 'l').replace(/Ł/g, 'l')\n  .toLowerCase().trim()\n  .replace(/[^a-z0-9]+/g, '-').replace(/^-+|-+$/g, '');\nconst loc = slugifyCity(cfg.location);\n\n// Assemble path + query strictly from cfg (nothing hardcoded).\nlet pathSegs = 'praca';\nif (loc) pathSegs += '/' + loc + ';wp';\n// tc=7 = Pracuj's \"Praktyki / staż\" contract code. The category WORD ('internship')\n// is not a valid tc value — passing it wipes the filter and returns all jobs.\nconst query = [`rd=${radius}`, 'tc=7'].join('&');\nconst _ov = cfg.urls && cfg.urls.pracuj && String(cfg.urls.pracuj).trim();\nconst BASE = _ov || `https://www.pracuj.pl/${pathSegs}?${query}`;\n\n// --- helpers ---\nconst sleep = (ms) => new Promise(r => setTimeout(r, ms));\nconst rand = (min, max) => Math.floor(min + Math.random() * (max - min));\n\n// Best-effort salary parser (never invents; omits when unclear)\nconst parseSalary = (txt) => {\n  const out = {};\n  if (!txt) return out;\n  const t = txt.replace(/ /g, ' ');\n  const cur = /z[łl]|pln/i.test(t) ? 'PLN'\n    : /€|eur/i.test(t) ? 'EUR'\n    : /\\$|usd/i.test(t) ? 'USD' : null;\n  const nums = (t.match(/\\d[\\d\\s.]*\\d|\\d/g) || [])\n    .map(n => parseInt(n.replace(/[\\s.]/g, ''), 10))\n    .filter(n => !isNaN(n) && n >= 10);\n  if (cur) out.salary_currency = cur;\n  if (nums.length >= 1) out.salary_from = nums[0];\n  if (nums.length >= 2) out.salary_to = nums[1];\n  return out;\n};\n\nconst MAX_PAGES = 10;\nconst allOffers = [];\nconst seenUrls = new Set();\nlet blocked = false;\n\nconst BLOCK_SIGNALS = ['captcha', 'just a moment', 'cf-chl', 'datadome', 'access denied', 'attention required'];\n\nconst page = await $browser.newPage();\nawait page.setUserAgent('Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/126.0.0.0 Safari/537.36');\nawait page.setViewport({ width: 1366, height: 900 });\n\n// --- request interception: block heavy assets (proven) ---\nawait page.setRequestInterception(true);\npage.on('request', (req) => {\n  const type = req.resourceType();\n  if (['image', 'font', 'media'].includes(type)) req.abort();\n  else req.continue();\n});\n\n// --- 3. SAFETY: random delay BEFORE first navigation (2500–6000ms) ---\nawait sleep(rand(2500, 6000));\n\ntry {\n  for (let p = 1; p <= MAX_PAGES; p++) {\n    const url = p === 1 ? BASE : `${BASE}&pn=${p}`;\n    try {\n      await page.goto(url, { waitUntil: 'networkidle2', timeout: 50000 });\n    } catch (e) {\n      // navigation timeout: stop gently, do not hammer\n      break;\n    }\n    await sleep(rand(1500, 3000));\n\n    // --- 4. BLOCK DETECTION (URL redirect to challenge + body text) ---\n    const curUrl = page.url();\n    const pageText = await page.evaluate(() => (document.body ? document.body.innerText : '') || '');\n    const lowered = pageText.toLowerCase();\n    const challengeInUrl = /challenge|cf-chl|captcha|__cf|datadome/i.test(curUrl);\n    if (challengeInUrl || BLOCK_SIGNALS.some(s => lowered.includes(s))) {\n      blocked = true;\n      break; // STOP immediately, no retry\n    }\n\n    // Cookie accept popup (proven)\n    try {\n      await page.click('[data-test=\"button-submitCookie\"]');\n      await sleep(rand(300, 700));\n    } catch (e) {}\n\n    // Scroll loop: capped at 10 iterations with stable-count early exit\n    let lastCount = -1, stable = 0;\n    for (let i = 0; i < 10; i++) {\n      await page.evaluate(() => window.scrollBy(0, 900));\n      await sleep(rand(300, 800));\n      const c = await page.evaluate(() =>\n        document.querySelectorAll('[data-test=\"default-offer\"], [data-test=\"offer\"]').length);\n      if (c === lastCount) { stable++; if (stable >= 2) break; }\n      else { stable = 0; lastCount = c; }\n    }\n    await sleep(rand(600, 1200));\n\n    // --- Parse offers (proven selectors) ---\n    const pageOffers = await page.evaluate(() => {\n      const cards = Array.from(document.querySelectorAll('[data-test=\"default-offer\"], [data-test=\"offer\"]'));\n      if (cards.length === 0) {\n        // Fallback: raw offer links\n        const links = Array.from(document.querySelectorAll('a[href*=\",oferta,\"]'));\n        return links.map(a => ({\n          title: a.querySelector('h2') ? a.querySelector('h2').innerText.trim()\n            : (a.innerText ? a.innerText.trim().substring(0, 100) : null),\n          company: null, city: null, url: a.href,\n          salaryText: null, labels: [], published_at: null\n        })).filter(o => o.title);\n      }\n      return cards.map(card => {\n        const titleEl = card.querySelector('[data-test=\"offer-title\"], h2 a, h2');\n        const title = titleEl ? titleEl.innerText.trim() : null;\n        const companyEl = card.querySelector('[data-test=\"text-company-name\"]');\n        const company = companyEl ? companyEl.innerText.trim() : null;\n        const regionEl = card.querySelector('[data-test=\"text-region\"]');\n        const city = regionEl ? regionEl.innerText.trim() : null;\n        const salaryEl = card.querySelector('[data-test=\"offer-salary\"]');\n        const salaryText = salaryEl ? salaryEl.innerText.trim() : null;\n        const labelNodes = card.querySelectorAll('li, [data-test^=\"offer-additional-info\"]');\n        const labels = Array.from(labelNodes)\n          .map(el => el.innerText.trim())\n          .filter(t => t.length > 0 && t.length < 60);\n        const linkEl = card.querySelector('a[data-test=\"link-offer\"], a[href*=\",oferta,\"]');\n        const offerUrl = linkEl ? linkEl.href : null;\n        // published_at: best-effort ISO from a datetime attribute; omit otherwise (never invent)\n        const timeEl = card.querySelector('time[datetime]');\n        const published_at = timeEl ? (timeEl.getAttribute('datetime') || null) : null;\n        return { title, company, city, url: offerUrl, salaryText, labels, published_at };\n      }).filter(o => o.title);\n    });\n\n    // --- 5. Map to COMMON shape (omit unknowns; never invent) ---\n    for (const o of pageOffers) {\n      if (!o.url || seenUrls.has(o.url)) continue;\n      seenUrls.add(o.url);\n\n      const offer = { source: 'pracuj', title: o.title, url: o.url };\n      if (o.company) offer.company = o.company;\n      if (o.city) offer.city = o.city;\n\n      const sal = parseSalary(o.salaryText);\n      Object.assign(offer, sal);\n\n      const joined = (o.labels || []).join(' | ').toLowerCase();\n      // remote: only set when clearly signalled\n      if (/zdaln/.test(joined)) offer.remote = true;\n      else if (/stacjonarn/.test(joined)) offer.remote = false;\n      // contract_type: only when a known keyword label is present\n      const ct = (o.labels || []).find(l => /umowa|kontrakt|b2b|zlecen|o prac|dzie[łl]o/i.test(l));\n      if (ct) offer.contract_type = ct;\n      // experience_level: only when a known keyword label is present\n      const el = (o.labels || []).find(l => /junior|mid|senior|praktykant|sta[żz]|asystent|specjalista|ekspert|mened|kierownik|dyrektor/i.test(l));\n      if (el) offer.experience_level = el;\n      // published_at: only when the site exposes a real date (never invent)\n      if (o.published_at) offer.published_at = o.published_at;\n\n      allOffers.push(offer);\n    }\n\n    // Expected-but-empty on first page => treat as blocked\n    if (p === 1 && pageOffers.length === 0) {\n      blocked = true;\n      break;\n    }\n\n    // Pagination: stop if no next page or nothing found\n    const hasNext = await page.evaluate(() => {\n      const btn = document.querySelector('[data-test=\"top-pagination-next-page\"], [data-test=\"bottom-pagination-next-page\"]');\n      return !!(btn && !btn.disabled);\n    });\n    if (pageOffers.length === 0 || !hasNext) break;\n\n    // randomized inter-page delay\n    await sleep(rand(3000, 6000));\n  }\n} catch (e) {\n  // swallow unexpected errors; still write results below\n}\n\n// --- 6. Always write results ---\ntry { fs.mkdirSync(collectDir, { recursive: true }); } catch (e) {}\nfs.writeFileSync(\n  path.join(collectDir, 'pracuj.json'),\n  JSON.stringify({ source: 'pracuj', count: allOffers.length, offers: allOffers })\n);\n\n// --- 7. Close + return status ---\nawait page.close();\nreturn [{ json: { site: 'pracuj', count: allOffers.length, blocked } }];",
        "options": {}
      },
      "id": "v2-scr-0004-0000-0000-000000000004",
      "name": "Pracuj",
      "type": "n8n-nodes-puppeteer.puppeteer",
      "typeVersion": 1,
      "position": [
        1320,
        300
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "runCustomScript",
        "scriptCode": "// theprotocol.it scraper — n8n Puppeteer (runCustomScript) node\n// Grupa Pracuj IT-only board. HIGH block risk: Cloudflare MANAGED CHALLENGE\n// (cf-mitigated: challenge). A real browser MAY pass; gentle behavior only.\n\nconst fs = require('fs');\n\n// ---- 1. Read config ---------------------------------------------------------\nconst cfg = JSON.parse(fs.readFileSync('/tmp/scrape_config.json', 'utf-8'));\n// cfg = { keyword, category, location, radius, collectDir }\n\n// ---- helpers ----------------------------------------------------------------\nconst rnd = (a, b) => Math.floor(Math.random() * (b - a + 1)) + a;\nconst sleep = (ms) => new Promise((r) => setTimeout(r, ms));\n\n// diacritic-stripped, lowercase slug ('Wrocław' -> 'wroclaw')\n// note: combining marks (U+0300–U+036F) are stripped after NFD; 'ł' does NOT\n// decompose under NFD, so map it explicitly.\nconst deaccent = (s) =>\n  (s || '')\n    .normalize('NFD')\n    .replace(/[̀-ͯ]/g, '')\n    .replace(/ł/g, 'l')\n    .replace(/Ł/g, 'L')\n    .trim()\n    .toLowerCase();\n\n// turn any text into a url-safe lowercase slug\nconst slugify = (s) =>\n  deaccent(s)\n    .replace(/[^a-z0-9]+/g, '-')\n    .replace(/^-+|-+$/g, '');\n\n// parse a Polish salary string into from/to/currency (NEVER invents values)\nfunction parseSalary(raw) {\n  const res = {};\n  if (!raw) return res;\n  const s = String(raw).replace(/[\\s   ]/g, ' ');\n  if (/zł|pln/i.test(s)) res.salary_currency = 'PLN';\n  else if (/€|eur/i.test(s)) res.salary_currency = 'EUR';\n  else if (/\\$|usd/i.test(s)) res.salary_currency = 'USD';\n  const nums = (s.match(/\\d[\\d ]*\\d|\\d/g) || [])\n    .map((x) => parseInt(x.replace(/ /g, ''), 10))\n    .filter((n) => !isNaN(n));\n  if (nums.length >= 2) {\n    res.salary_from = nums[0];\n    res.salary_to = nums[1];\n  } else if (nums.length === 1) {\n    res.salary_from = nums[0];\n  }\n  return res;\n}\n\n// ---- 2. Build URL (all search params come from cfg — nothing hardcoded) -----\n// theProtocol.it path filters: '<slug>;kw' (keyword) and '<city>;wp'\n// (workplace). Category (specialization) + radius + pagination go in the query\n// string; unknown query keys are ignored by the site, so this cannot 404.\nconst loc = deaccent(cfg.location || 'Wrocław') || 'wroclaw';\n\n// Internships/traineeships use theProtocol's CONTRACT-TYPE filter segment\n// 'umowa-o-staz-praktyki;c' (recon-verified). Location via ';wp'. Without this the\n// site returns ALL offers (previously produced 253 unfiltered results).\nconst filterParts = ['umowa-o-staz-praktyki;c', loc + ';wp'];\nconst _ov = cfg.urls && cfg.urls.theprotocol && String(cfg.urls.theprotocol).trim();\nconst BASE = _ov || ('https://theprotocol.it/filtry/' + filterParts.join('/'));\n\nconst pageUrl = (n) => (n > 1) ? BASE + (BASE.includes('?') ? '&' : '?') + 'pageNumber=' + n : BASE;\n\nconst MAX_PAGES = 5; // gentle cap (contract allows <= 10)\nconst CHALLENGE_MARKERS = [\n  'captcha',\n  'just a moment',\n  'cf-chl',\n  'datadome',\n  'access denied',\n  'attention required',\n];\n\n// scroll the listing to trigger lazy-loaded cards, with stable-count early exit\nasync function autoScroll(pg) {\n  try {\n    await pg.evaluate(async () => {\n      const nap = (ms) => new Promise((r) => setTimeout(r, ms));\n      const count = () =>\n        document.querySelectorAll(\n          '[data-test=\"list-item-offer\"], a[href*=\"/szczegoly/\"]'\n        ).length;\n      let last = -1;\n      let stable = 0;\n      for (let i = 0; i < 8; i++) {\n        window.scrollBy(0, document.body.scrollHeight);\n        await nap(600 + Math.random() * 1100); // randomized scroll delay\n        const c = count();\n        if (c === last) {\n          stable++;\n          if (stable >= 2) break;\n        } else {\n          stable = 0;\n          last = c;\n        }\n      }\n    });\n  } catch (e) {}\n}\n\n// extract raw offer data from the current listing DOM\nasync function extractRaw(pg) {\n  return pg.evaluate(() => {\n    const abs = (h) => {\n      try {\n        return h ? new URL(h, 'https://theprotocol.it').href : null;\n      } catch (e) {\n        return null;\n      }\n    };\n    const pick = (card, keys) => {\n      for (const k of keys) {\n        const n = card.querySelector('[data-test=\"' + k + '\"]');\n        if (n && n.textContent.trim()) return n.textContent.trim();\n      }\n      return null;\n    };\n    const pickLike = (card, sub) => {\n      const nodes = card.querySelectorAll('[data-test]');\n      for (const n of nodes) {\n        const dt = (n.getAttribute('data-test') || '').toLowerCase();\n        if (dt.includes(sub) && n.textContent.trim()) return n.textContent.trim();\n      }\n      return null;\n    };\n\n    // determine offer cards (prefer explicit card, fall back to detail anchors)\n    let cards = Array.from(\n      document.querySelectorAll('[data-test=\"list-item-offer\"]')\n    );\n    if (!cards.length) {\n      const anchors = Array.from(\n        document.querySelectorAll('a[href*=\"/szczegoly/\"]')\n      );\n      const seen = new Set();\n      cards = [];\n      for (const a of anchors) {\n        const c =\n          a.closest('li') ||\n          a.closest('article') ||\n          a.closest('[data-test]') ||\n          a.parentElement ||\n          a;\n        if (!seen.has(c)) {\n          seen.add(c);\n          cards.push(c);\n        }\n      }\n    }\n\n    const out = [];\n    for (const card of cards) {\n      const link =\n        card.matches && card.matches('a[href*=\"/szczegoly/\"]')\n          ? card\n          : card.querySelector('a[href*=\"/szczegoly/\"]');\n      const href = link ? abs(link.getAttribute('href')) : null;\n      if (!href) continue;\n\n      let title =\n        pick(card, ['text-jobTitle', 'offer-title', 'text-offerTitle']) ||\n        pickLike(card, 'jobtitle') ||\n        pickLike(card, 'title');\n      if (!title && link) {\n        title =\n          (link.getAttribute('aria-label') || '').trim() ||\n          (link.getAttribute('title') || '').trim() ||\n          null;\n      }\n      if (!title) {\n        const h = card.querySelector('h1,h2,h3');\n        if (h && h.textContent.trim()) title = h.textContent.trim();\n      }\n\n      const company =\n        pick(card, ['text-employerName', 'text-companyName']) ||\n        pickLike(card, 'employer') ||\n        pickLike(card, 'companyname');\n\n      const cityRaw =\n        pick(card, ['text-workplaces', 'text-workplace', 'text-regions']) ||\n        pickLike(card, 'workplace') ||\n        pickLike(card, 'region') ||\n        pickLike(card, 'location');\n\n      const salaryRaw =\n        pick(card, ['text-salaryOnListing', 'text-salary']) ||\n        pickLike(card, 'salary');\n\n      const levelRaw =\n        pickLike(card, 'positionlevel') || pickLike(card, 'level');\n      const workModeRaw =\n        pickLike(card, 'workmode') || pickLike(card, 'worktype');\n      const contractRaw =\n        pickLike(card, 'typeofcontract') ||\n        pickLike(card, 'contracttype') ||\n        pickLike(card, 'contract');\n\n      let dateRaw = null;\n      const timeEl = card.querySelector('time[datetime], time');\n      if (timeEl) {\n        dateRaw =\n          (timeEl.getAttribute('datetime') || '').trim() ||\n          timeEl.textContent.trim() ||\n          null;\n      }\n      if (!dateRaw) {\n        dateRaw =\n          pickLike(card, 'publicationdate') ||\n          pickLike(card, 'publish') ||\n          pickLike(card, 'date');\n      }\n\n      out.push({\n        href: href,\n        title: title || null,\n        company: company || null,\n        cityRaw: cityRaw || null,\n        salaryRaw: salaryRaw || null,\n        levelRaw: levelRaw || null,\n        workModeRaw: workModeRaw || null,\n        contractRaw: contractRaw || null,\n        dateRaw: dateRaw || null,\n      });\n    }\n    return out;\n  });\n}\n\n// build the COMMON-shape offer (drops empty fields; never invents data)\nfunction buildOffer(r) {\n  const o = { source: 'theprotocol' };\n  if (r.company) o.company = r.company;\n  if (r.title) o.title = r.title;\n  o.url = r.href; // absolute link (required)\n  if (r.cityRaw) {\n    o.city = r.cityRaw.split(/[,\\n]/)[0].trim() || r.cityRaw.trim();\n  }\n  const sal = parseSalary(r.salaryRaw);\n  if (sal.salary_from != null) o.salary_from = sal.salary_from;\n  if (sal.salary_to != null) o.salary_to = sal.salary_to;\n  if (sal.salary_currency) o.salary_currency = sal.salary_currency;\n  if (r.contractRaw) o.contract_type = r.contractRaw;\n  if (r.levelRaw) o.experience_level = r.levelRaw;\n  if (r.dateRaw) {\n    const d = new Date(r.dateRaw);\n    o.published_at = isNaN(d.getTime()) ? r.dateRaw : d.toISOString();\n  }\n  const wm = ((r.workModeRaw || '') + ' ' + (r.cityRaw || '')).toLowerCase();\n  if (/zdaln|remote/.test(wm)) o.remote = true; // only when clearly stated\n  return o;\n}\n\n// ---- 3. Page setup + SAFETY / 4-5. Crawl pages ------------------------------\nlet blocked = false;\nconst offers = [];\nconst seenUrls = new Set();\nlet page = null;\n\ntry {\n  page = await $browser.newPage();\n  await page.setUserAgent(\n    'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/126.0.0.0 Safari/537.36'\n  );\n  await page.setViewport({ width: 1366, height: 900 });\n  try {\n    await page.setExtraHTTPHeaders({\n      'Accept-Language': 'pl-PL,pl;q=0.9,en;q=0.8',\n    });\n  } catch (e) {}\n\n  // random human-like delay BEFORE first navigation\n  await sleep(rnd(2500, 6000));\n\n  for (let p = 1; p <= MAX_PAGES; p++) {\n    let resp = null;\n    try {\n      resp = await page.goto(pageUrl(p), {\n        waitUntil: 'networkidle2',\n        timeout: 60000,\n      });\n    } catch (e) {\n      // navigation timeout — fall through to block/content checks below\n    }\n\n    // --- BLOCK DETECTION (mandatory) ---\n    let headers = {};\n    try {\n      headers = resp ? resp.headers() : {};\n    } catch (e) {}\n    const cfMit = headers['cf-mitigated'] || headers['Cf-Mitigated'] || '';\n    const curUrl = page.url();\n    let bodyText = '';\n    try {\n      bodyText = await page.evaluate(() =>\n        document.body ? document.body.innerText : ''\n      );\n    } catch (e) {}\n    const low = (bodyText || '').toLowerCase();\n    const challenged =\n      String(cfMit).toLowerCase().includes('challenge') ||\n      /challenge|cdn-cgi\\/challenge/i.test(curUrl) ||\n      CHALLENGE_MARKERS.some((m) => low.includes(m));\n    if (challenged) {\n      blocked = true;\n      break; // STOP immediately — no retry hammering\n    }\n\n    // load lazy cards, then extract\n    await autoScroll(page);\n    let raw = [];\n    try {\n      raw = await extractRaw(page);\n    } catch (e) {\n      raw = [];\n    }\n\n    let newCount = 0;\n    for (const r of raw) {\n      if (!r.href || seenUrls.has(r.href)) continue;\n      seenUrls.add(r.href);\n      offers.push(buildOffer(r));\n      newCount++;\n    }\n\n    // early exit when a page adds nothing new (or pagination collapsed)\n    if (newCount === 0) break;\n\n    // gentle randomized delay before next page\n    if (p < MAX_PAGES) await sleep(rnd(3000, 7000));\n  }\n\n  // 0 offers where some were expected => treat as blocked (per contract)\n  if (!blocked && offers.length === 0) blocked = true;\n} catch (e) {\n  // unexpected failure — still write results below; mark blocked if we got none\n  if (offers.length === 0) blocked = true;\n}\n\n// ---- 6. Write results (ALWAYS, even if empty/blocked) -----------------------\ntry {\n  fs.writeFileSync(\n    cfg.collectDir + '/theprotocol.json',\n    JSON.stringify({ source: 'theprotocol', count: offers.length, offers })\n  );\n} catch (e) {}\n\n// ---- 7. Return --------------------------------------------------------------\ntry {\n  if (page) await page.close();\n} catch (e) {}\n\nreturn [{ json: { site: 'theprotocol', count: offers.length, blocked: blocked } }];",
        "options": {}
      },
      "id": "v2-scr-0005-0000-0000-000000000005",
      "name": "theProtocol",
      "type": "n8n-nodes-puppeteer.puppeteer",
      "typeVersion": 1,
      "position": [
        1540,
        300
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "runCustomScript",
        "scriptCode": "// ====== OLX.pl Praca — n8n Puppeteer (Browserless) — V3: full descriptions ======\n// Adapted from the proven /tmp/old_scrapers/OLX.js:\n//  - KEEP: card selectors, gradual scroll, page-until-empty pagination,\n//    dedupe, cookie accept (#onetrust-accept-btn-handler).\n//  - KEEP (contract): cfg-driven URL (keyword+category+location+radius),\n//    random pre-nav delay, randomized inter-page/scroll delays, block\n//    detection, common offer shape, write to collect file, return status.\n//  - ADD (V3): detail phase after the list loop — for each uncached offer,\n//    one page.evaluate -> fetch('https://www.olx.pl/api/v1/offers/{id}')\n//    (same-origin, DataDome cookies ride along; verified live). Fills:\n//    description (HTML stripped via DOMParser), company (user.name — was\n//    always null before), contract_type / experience_level / salary from\n//    params[] when null. Description cache keyed by nurl(url) in\n//    cfg.descCache. Jittered 1500-3000ms between calls; abort-on-block;\n//    per-offer error tolerance. Total detail failure still yields V2 output.\n// DataDome is BEHAVIORAL — scroll gradually, delays are randomized, no retry hammering.\n\nconst fs = require('fs');\nconst path = require('path');\n\n// --- 1. Config ---\nconst cfg = JSON.parse(fs.readFileSync('/tmp/scrape_config.json', 'utf-8'));\n// cfg = { keyword, category, location, radius, collectDir, descCache }\n\n// --- helpers ---\nconst sleep = (ms) => new Promise((r) => setTimeout(r, ms));\nconst rand = (min, max) => Math.floor(Math.random() * (max - min + 1)) + min;\n\n// Slugify for URL path segments: strip diacritics (incl. ł), lowercase,\n// collapse non-alphanumerics to '-'. 'Wrocław' -> 'wroclaw', 'Łódź' -> 'lodz'.\nfunction slugify(s, fallback) {\n  const v = (s == null ? '' : String(s)).trim();\n  if (!v) return fallback || '';\n  return v\n    .replace(/ł/g, 'l').replace(/Ł/g, 'L')\n    .normalize('NFD').replace(/[̀-ͯ]/g, '')\n    .toLowerCase().trim()\n    .replace(/[^a-z0-9]+/g, '-')\n    .replace(/^-+|-+$/g, '');\n}\n\n// Parse an OLX price string into { salary_from, salary_to, salary_currency }.\n// Never invents data: returns {} when no numbers are present.\nfunction parseSalary(raw) {\n  const out = {};\n  if (!raw) return out;\n  const cleaned = String(raw).replace(/ /g, ' ');\n  let currency;\n  if (/zł|pln/i.test(cleaned)) currency = 'PLN';\n  else if (/eur|€/i.test(cleaned)) currency = 'EUR';\n  // remove spaces used as thousand separators (\"4 000\" -> \"4000\"), then grab numbers\n  const nums = (cleaned.replace(/\\s(?=\\d)/g, '').match(/\\d+(?:[.,]\\d+)?/g) || [])\n    .map((n) => parseFloat(n.replace(',', '.')))\n    .filter((n) => !isNaN(n));\n  if (nums.length === 0) return out;\n  out.salary_from = nums[0];\n  if (nums.length > 1) out.salary_to = nums[1];\n  if (currency) out.salary_currency = currency;\n  return out;\n}\n\nconst loc = slugify(cfg.location, 'wroclaw');\nconst radius = cfg.radius != null ? cfg.radius : 30;\n\n// OLX filters live in the QUERY STRING, not the path. The internship/staż filter\n// is search[filter_enum_agreement][0]=practice ; radius is search[dist]. City is a\n// path segment. (Putting category/keyword in the PATH 404s or wipes the filter —\n// that was the old bug that returned 0 results.)\n// Paste-URL override: if you pasted a filtered OLX URL in Config, use it verbatim.\nconst _ov = cfg.urls && cfg.urls.olx && String(cfg.urls.olx).trim();\nconst BASE = _ov || `https://www.olx.pl/praca/${loc}/?search%5Bdist%5D=${radius}&search%5Bfilter_enum_agreement%5D%5B0%5D=practice`;\n\nconst MAX_PAGES = 10; // capped per contract\nconst CARD_SELECTOR = '[data-testid=\"l-card\"], [data-cy=\"l-card\"]';\nconst BLOCK_SIGNALS = ['captcha', 'just a moment', 'cf-chl', 'datadome', 'access denied', 'attention required'];\n\nconst offers = [];\nconst seenKeys = new Set();\nlet blocked = false;\n\nconst page = await $browser.newPage();\n\n// --- 3. Safety: realistic desktop Chrome UA + viewport, random pre-nav delay ---\nawait page.setUserAgent('Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/131.0.0.0 Safari/537.36');\nawait page.setViewport({ width: 1366, height: 900 });\nawait sleep(rand(2500, 6000)); // mandatory random delay before first navigation\n\ntry {\n  for (let p = 1; p <= MAX_PAGES; p++) {\n    const url = p === 1 ? BASE : `${BASE}&page=${p}`;\n\n    try {\n      await page.goto(url, { waitUntil: 'networkidle2', timeout: 50000 });\n    } catch (e) {\n      try {\n        await page.goto(url, { waitUntil: 'domcontentloaded', timeout: 30000 });\n      } catch (e2) {\n        break; // navigation failed twice — stop gently\n      }\n    }\n\n    await sleep(rand(2000, 3500));\n\n    // --- 4. Block detection (URL redirect / challenge text) ---\n    const curUrl = page.url();\n    let bodyText = '';\n    try {\n      bodyText = await page.evaluate(() => (document.body ? document.body.innerText : ''));\n    } catch (e) { bodyText = ''; }\n    const haystack = (curUrl + ' ' + bodyText).toLowerCase();\n    if (BLOCK_SIGNALS.some((s) => haystack.includes(s))) {\n      blocked = true;\n      console.log('OLX: block/challenge detected on page ' + p + ' — stopping.');\n      break;\n    }\n\n    // Cookie accept (first page only)\n    if (p === 1) {\n      try { await page.click('#onetrust-accept-btn-handler'); await sleep(rand(700, 1300)); } catch (e) {}\n    }\n\n    // --- Gradual scroll (DataDome-friendly) with stable-count early exit ---\n    let lastCount = -1, stable = 0;\n    for (let s = 0; s < 12; s++) {\n      const step = rand(500, 800);\n      await page.evaluate((y) => window.scrollBy(0, y), step);\n      await sleep(rand(250, 550));\n      let cnt = 0;\n      try {\n        cnt = await page.evaluate((sel) => document.querySelectorAll(sel).length, CARD_SELECTOR);\n      } catch (e) { cnt = lastCount; }\n      if (cnt === lastCount) {\n        stable++;\n        if (stable >= 3) break; // count stopped growing — done loading this page\n      } else {\n        stable = 0;\n        lastCount = cnt;\n      }\n    }\n    await sleep(rand(800, 1600));\n\n    // --- Parse offers (proven selectors) ---\n    const pageOffers = await page.evaluate((sel) => {\n      const cards = Array.from(document.querySelectorAll(sel));\n      return cards.map((card) => {\n        const id = card.getAttribute('id');\n        const titleEl = card.querySelector('h4, h6, h3, h2');\n        const title = titleEl ? titleEl.innerText.trim() : null;\n        if (!title) return null;\n\n        const linkEl = card.querySelector('a[href*=\"/oferta/\"]');\n        let href = linkEl ? (linkEl.getAttribute('href') || '') : null;\n        if (href && href.startsWith('/')) href = 'https://www.olx.pl' + href;\n\n        const locEl = card.querySelector('[data-testid=\"location-date\"]');\n        const locRaw = locEl ? locEl.innerText.trim() : null;\n        const city = locRaw ? locRaw.split(' - ')[0].trim() : null;\n        const dateText = locRaw && locRaw.includes(' - ')\n          ? locRaw.split(' - ').slice(1).join(' - ').trim()\n          : null;\n\n        const priceEl = card.querySelector('[data-testid=\"ad-price\"]');\n        const salaryRaw = priceEl ? priceEl.innerText.trim() : null;\n\n        return { id, title, url: href, city, dateText, salaryRaw };\n      }).filter((o) => o !== null);\n    }, CARD_SELECTOR);\n\n    // --- 4b. 0 offers -> end of pagination / genuine no-results ---\n    // (Real blocks are caught by BLOCK_SIGNALS above. OLX loads fine headless, so\n    //  0 cards just means no more results — do NOT treat it as a block.)\n    if (pageOffers.length === 0) {\n      console.log('OLX page ' + p + ': 0 offers — end of results.');\n      break;\n    }\n\n    // --- 5. Map to common shape + dedupe ---\n    let added = 0;\n    for (const o of pageOffers) {\n      const key = o.id || o.url || o.title;\n      if (!key || seenKeys.has(key)) continue;\n      seenKeys.add(key);\n\n      const sal = parseSalary(o.salaryRaw);\n      const remote = /zdaln|remote/i.test((o.title || '') + ' ' + (o.city || ''));\n\n      offers.push({\n        source: 'olx',\n        company: null,\n        title: o.title,\n        url: o.url || null,\n        city: o.city || null,\n        salary_from: sal.salary_from != null ? sal.salary_from : null,\n        salary_to: sal.salary_to != null ? sal.salary_to : null,\n        salary_currency: sal.salary_currency || null,\n        contract_type: null,\n        experience_level: null,\n        published_at: o.dateText || null,\n        remote: remote,\n        description: null,   // V3: filled by detail phase below\n        _id: o.id || null,   // V3: numeric ad id for the detail API (temp, removed before write)\n      });\n      added++;\n    }\n\n    console.log('OLX page ' + p + ': ' + pageOffers.length + ' cards, ' + added + ' new (total ' + offers.length + ').');\n\n    // same-page all-duplicates -> end\n    if (added === 0 && p > 1) break;\n\n    await sleep(rand(3500, 6500)); // randomized inter-page delay\n  }\n} catch (err) {\n  console.log('OLX: unexpected error — ' + (err && err.message ? err.message : err));\n}\n\n// --- 6. Detail phase (V3): descriptions via OLX JSON API ---\n// GET https://www.olx.pl/api/v1/offers/{numeric-ad-id} -> {data:{description\n// (full HTML), user.name (company), params[] (salary/agreement/type/experience)}}.\n// Verified live. One page.evaluate per fetch (protocolTimeout-safe), all delays\n// in Node context. Cache keyed by nurl(url) — matches Excel Writer's dedup key.\nconst CACHE_PATH = cfg.descCache || '/output/desc_cache.json';\nconst nurl = (u) => String(u || '').split('?')[0].replace(/\\/+$/, '').toLowerCase();\n\nlet details_fetched = 0, details_cached = 0, detail_errors = 0, detailAborted = false;\n\nlet descCache = {};\ntry {\n  descCache = JSON.parse(fs.readFileSync(CACHE_PATH, 'utf-8'));\n  if (!descCache || typeof descCache !== 'object' || Array.isArray(descCache)) descCache = {};\n} catch (e) { descCache = {}; }\n\nconst onOlx = /(^|\\.)olx\\.pl/i.test(page.url()) || page.url().includes('olx.pl');\nif (!blocked && offers.length > 0 && onOlx) {\n  try {\n    let firstFetch = true;\n    for (const offer of offers) {\n      if (detailAborted) break;\n      if (!offer.url) continue; // no url — no cache key, skip detail fetch\n\n      // 6a. Cache hit -> reuse (only entries with a real description are cached)\n      const key = nurl(offer.url);\n      const hit = descCache[key];\n      if (hit && hit.f && typeof hit.f.description === 'string' && hit.f.description) {\n        Object.assign(offer, hit.f);\n        details_cached++;\n        continue;\n      }\n\n      // 6b. Need the numeric ad id from the list card\n      const adId = (String(offer._id || '').match(/\\d{6,}/) || [])[0];\n      if (!adId) {\n        offer.detail_error = 'no ad id on card';\n        detail_errors++;\n        continue;\n      }\n\n      // 6c. Jittered delay BETWEEN calls, in Node context (DataDome is behavioral)\n      if (!firstFetch) await sleep(rand(1500, 3000));\n      firstFetch = false;\n\n      // 6d. One evaluate = one fetch (same-origin, cookies ride along)\n      let det;\n      try {\n        det = await page.evaluate(async (apiUrl) => {\n          const out = { ok: false, status: 0, description: null, company: null, params: [], snippet: '', error: null };\n          try {\n            const ctl = new AbortController();\n            const timer = setTimeout(() => ctl.abort(), 25000); // keep this evaluate well under 60s\n            const r = await fetch(apiUrl, { headers: { Accept: 'application/json' }, credentials: 'include', signal: ctl.signal });\n            clearTimeout(timer);\n            out.status = r.status;\n            const text = await r.text();\n            let json = null;\n            try { json = JSON.parse(text); } catch (e) {}\n            if (!json || !json.data) {\n              out.snippet = String(text || '').slice(0, 600); // for block-signal check node-side\n              return out;\n            }\n            const d = json.data;\n            if (d.description) {\n              // Keep line breaks: <br>/<p>/<li> -> \\n before DOMParser strips tags\n              const html = String(d.description)\n                .replace(/<br\\s*\\/?>/gi, '\\n')\n                .replace(/<\\/(p|li|div|h[1-6]|ul|ol|tr)>/gi, '\\n')\n                .replace(/<li[^>]*>/gi, '- ');\n              try {\n                const doc = new DOMParser().parseFromString(html, 'text/html');\n                out.description = doc.body ? (doc.body.textContent || '') : '';\n              } catch (e) {\n                out.description = html.replace(/<[^>]*>/g, ' ');\n              }\n            }\n            out.company = d.user && d.user.name ? String(d.user.name).trim() : null;\n            if (Array.isArray(d.params)) {\n              out.params = d.params.map((p) => ({\n                key: p && p.key ? String(p.key) : null,\n                label: p && p.value && p.value.label != null ? String(p.value.label) : null,\n                from: p && p.value && p.value.from != null ? p.value.from : null,\n                to: p && p.value && p.value.to != null ? p.value.to : null,\n                currency: p && p.value && p.value.currency ? String(p.value.currency) : null,\n              }));\n            }\n            out.ok = true;\n            return out;\n          } catch (e) {\n            out.error = e && e.message ? e.message : String(e);\n            return out;\n          }\n        }, 'https://www.olx.pl/api/v1/offers/' + adId);\n      } catch (e) {\n        offer.detail_error = 'evaluate failed: ' + (e && e.message ? e.message : e);\n        detail_errors++;\n        continue;\n      }\n\n      // 6e. Block handling: 403/429 or challenge text -> STOP, keep everything so far\n      const snippetLower = String((det && det.snippet) || '').toLowerCase();\n      if (det && (det.status === 403 || det.status === 429 || BLOCK_SIGNALS.some((s) => snippetLower.includes(s)))) {\n        detailAborted = true;\n        console.log('OLX detail: block signal (HTTP ' + det.status + ') on ad ' + adId + ' — aborting detail phase, keeping list data.');\n        break;\n      }\n\n      // 6f. Per-offer failure (non-block) -> tag & continue\n      if (!det || !det.ok) {\n        offer.detail_error = 'HTTP ' + (det ? det.status : '?') + (det && det.error ? ' / ' + det.error : '');\n        detail_errors++;\n        continue;\n      }\n\n      // 6g. Build the fields object (goes onto the offer AND into the cache)\n      const fields = {};\n      let desc = det.description != null ? String(det.description) : '';\n      desc = desc.replace(/\\r/g, '').replace(/[ \\t]+\\n/g, '\\n').replace(/\\n{3,}/g, '\\n\\n').trim().slice(0, 15000);\n      fields.description = desc || null;\n\n      if (det.company) fields.company = det.company; // FIXES the always-null company\n\n      const byKey = {};\n      for (const pp of (det.params || [])) { if (pp && pp.key && !(pp.key in byKey)) byKey[pp.key] = pp; }\n      const agreement = byKey['agreement'] || byKey['type'];\n      if (agreement && agreement.label) fields.contract_type = agreement.label;\n      if (byKey['experience'] && byKey['experience'].label) fields.experience_level = byKey['experience'].label;\n      // Salary from API only when the list card had none\n      if (offer.salary_from == null && byKey['salary']) {\n        const s = byKey['salary'];\n        if (s.from != null) fields.salary_from = s.from;\n        if (s.to != null) fields.salary_to = s.to;\n        if (s.currency) fields.salary_currency = s.currency;\n      }\n\n      // Assign to offer — fill only fields that are currently null (never clobber list data)\n      for (const k of Object.keys(fields)) {\n        if (fields[k] != null && offer[k] == null) offer[k] = fields[k];\n      }\n      details_fetched++;\n\n      // Cache ONLY entries with a non-empty description (never cache failures)\n      if (typeof fields.description === 'string' && fields.description) {\n        descCache[key] = { t: Date.now(), f: fields };\n      }\n    }\n  } catch (err) {\n    // Total detail-phase failure must still produce V2-equivalent output\n    console.log('OLX detail: unexpected error — ' + (err && err.message ? err.message : err));\n  }\n\n  // 6h. Write cache once, best-effort\n  try {\n    try { fs.mkdirSync(path.dirname(CACHE_PATH), { recursive: true }); } catch (e) {}\n    fs.writeFileSync(CACHE_PATH, JSON.stringify(descCache));\n  } catch (e) {}\n\n  console.log('OLX detail: fetched ' + details_fetched + ', cached ' + details_cached +\n    ', errors ' + detail_errors + (detailAborted ? ', ABORTED on block' : '') + '.');\n} else if (!blocked && offers.length > 0) {\n  console.log('OLX detail: page is not on olx.pl (nav failed?) — skipping detail phase.');\n}\n\n// Drop the temp _id before writing (cache is keyed by url; collect shape stays clean)\nfor (const o of offers) delete o._id;\n\n// --- 7. Always write results (even when empty/blocked) ---\ntry { fs.mkdirSync(cfg.collectDir, { recursive: true }); } catch (e) {}\nfs.writeFileSync(\n  path.join(cfg.collectDir, 'olx.json'),\n  JSON.stringify({ source: 'olx', count: offers.length, offers })\n);\n\n// --- 8. Close + return status ---\nawait page.close();\nreturn [{ json: { site: 'olx', count: offers.length, blocked, details_fetched, details_cached, detail_errors, detailAborted } }];\n",
        "options": {}
      },
      "id": "v2-scr-0006-0000-0000-000000000006",
      "name": "OLX",
      "type": "n8n-nodes-puppeteer.puppeteer",
      "typeVersion": 1,
      "position": [
        1760,
        300
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "runCustomScript",
        "scriptCode": "// ===== Indeed Poland scraper (sitekey: 'indeed') =====\n// Aggregator with VERY HIGH block risk (Cloudflare + Turnstile/captcha, frequent 403).\n// Strategy: be extremely gentle. Long random delays, 1-2 result pages MAX,\n// detect any challenge/captcha/403 -> set blocked=true and STOP immediately (no retries).\n\nconst fs = require('fs');\n\n// --- 1. Read shared config (IGNORE $json, always read the file) ---\nconst cfg = JSON.parse(fs.readFileSync('/tmp/scrape_config.json', 'utf-8'));\n// cfg = { keyword, category, location, radius, collectDir }\n\n// --- small helpers ---\nconst sleep = (ms) => new Promise((r) => setTimeout(r, ms));\nconst rand = (min, max) => Math.floor(min + Math.random() * (max - min));\n\n// --- 2. Build this site's URL ---\n// Indeed uses a free-text `l` (location) param, NOT a city slug, so we URL-encode\n// the location as-is (\"Wrocław\" -> \"Wroc%C5%82aw\"), plus free-text q + radius (km).\nconst keyword = cfg.keyword || cfg.category || '';\nconst location = cfg.location || '';\nconst radius = cfg.radius || 25;\nconst _ov = cfg.urls && cfg.urls.indeed && String(cfg.urls.indeed).trim();\nconst baseUrl = _ov ||\n  ('https://pl.indeed.com/jobs?q=' +\n  encodeURIComponent(keyword) +\n  '&l=' +\n  encodeURIComponent(location) +\n  '&radius=' +\n  encodeURIComponent(radius));\n\n// challenge / block markers (contract list + site-specific Cloudflare/Turnstile)\nconst BLOCK_MARKERS = [\n  'captcha',\n  'Just a moment',\n  'cf-chl',\n  'datadome',\n  'Access Denied',\n  'Attention Required',\n  'Cloudflare',\n  'Verifying you are human',\n  'Verify you are human',\n  'unusual traffic',\n];\n\n// salary text parser (Polish formatting: \"5 000 zł – 7 000 zł\", \"od 6000 zł\", \"do 8 000 PLN\")\nfunction parseSalary(text) {\n  if (!text) return {};\n  const t = text.replace(/[  ]/g, ' '); // normalize (narrow) no-break spaces\n  if (!/(zł|pln)/i.test(t)) return {}; // only parse when a currency is present\n  const tokens = t.match(/\\d[\\d .]*\\d|\\d+/g) || [];\n  const nums = tokens\n    .map((m) => parseInt(m.replace(/[ .]/g, ''), 10))\n    .filter((n) => !isNaN(n) && n >= 100); // drop tiny counts (e.g. \"1\", \"40 godz.\")\n  let from, to;\n  if (nums.length >= 2) {\n    from = nums[0];\n    to = nums[1];\n  } else if (nums.length === 1) {\n    if (/\\bdo\\b/i.test(t) && !/\\bod\\b/i.test(t)) to = nums[0];\n    else from = nums[0];\n  }\n  const out = {};\n  if (from != null) out.salary_from = from;\n  if (to != null) out.salary_to = to;\n  if (from != null || to != null) out.salary_currency = 'PLN';\n  return out;\n}\n\n// best-effort contract type (from metadata pills / card text; null when unknown)\nfunction parseContractType(s) {\n  if (!s) return null;\n  if (/umowa o prac/i.test(s)) return 'umowa o pracę';\n  if (/\\bb2b\\b|kontrakt b2b/i.test(s)) return 'B2B';\n  if (/umowa zlecen/i.test(s)) return 'umowa zlecenie';\n  if (/umowa o dzieł/i.test(s)) return 'umowa o dzieło';\n  if (/kontrakt/i.test(s)) return 'kontrakt';\n  if (/\\bstaż\\b|praktyk/i.test(s)) return 'staż';\n  return null;\n}\n\n// best-effort experience / seniority (from title / card text; null when unknown)\nfunction parseExperience(s) {\n  if (!s) return null;\n  if (/\\bsenior\\b|starszy/i.test(s)) return 'senior';\n  if (/\\blead\\b|team lead|kierownik|menedżer|\\bmanager\\b/i.test(s)) return 'lead';\n  if (/\\bmid\\b|\\bregular\\b/i.test(s)) return 'mid';\n  if (/\\bjunior\\b|młodszy/i.test(s)) return 'junior';\n  if (/\\bintern\\b|praktykant|\\bstaż\\b|praktyk/i.test(s)) return 'intern';\n  return null;\n}\n\nlet offers = [];\nlet blocked = false;\nconst seen = new Set();\n\nconst page = await $browser.newPage();\n\ntry {\n  // --- 3. SAFETY setup ---\n  await page.setUserAgent(\n    'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/131.0.0.0 Safari/537.36'\n  );\n  await page.setViewport({ width: 1366, height: 900 });\n  await page.setExtraHTTPHeaders({\n    'Accept-Language': 'pl-PL,pl;q=0.9,en-US;q=0.8,en;q=0.7',\n  });\n\n  // mandatory random delay BEFORE first navigation (2500-6000 ms)\n  await sleep(rand(2500, 6000));\n\n  const MAX_PAGES = 2; // site is fragile: 1-2 result pages MAX\n\n  for (let p = 0; p < MAX_PAGES; p++) {\n    const pageUrl = baseUrl + '&start=' + p * 10;\n\n    // long, gentle randomized delay between page loads (8-20s), not before the very first\n    if (p > 0) await sleep(rand(8000, 20000));\n\n    let response = null;\n    try {\n      response = await page.goto(pageUrl, {\n        waitUntil: 'domcontentloaded',\n        timeout: 60000,\n      });\n    } catch (e) {\n      // navigation failed/timeout -> treat as blocked, do NOT retry-hammer\n      blocked = true;\n      break;\n    }\n\n    // --- 4. BLOCK DETECTION ---\n    const status = response ? response.status() : 0;\n    if (status === 403 || status === 429 || status === 503) {\n      blocked = true;\n      break;\n    }\n\n    const finalUrl = page.url();\n    if (/challenge|cf-chl|captcha|geo-blocked|blocked/i.test(finalUrl)) {\n      blocked = true;\n      break;\n    }\n\n    // let any lazy content settle a touch, then scan the DOM\n    await sleep(rand(1500, 3500));\n    await page\n      .waitForSelector(\n        '#mosaic-provider-jobcards, div.job_seen_beacon, a[data-jk]',\n        { timeout: 15000 }\n      )\n      .catch(() => {});\n\n    const pageInfo = await page.evaluate(() => ({\n      title: document.title || '',\n      text: document.body ? document.body.innerText : '',\n    }));\n    const haystack = (pageInfo.title + '\\n' + pageInfo.text).toLowerCase();\n    if (BLOCK_MARKERS.some((m) => haystack.includes(m.toLowerCase()))) {\n      blocked = true;\n      break;\n    }\n\n    // gentle randomized scroll to trigger lazy rendering, with stable-count early exit\n    let prevCount = -1;\n    let stable = 0;\n    for (let s = 0; s < 4; s++) {\n      const c = await page.evaluate(\n        () =>\n          document.querySelectorAll('div.job_seen_beacon, a[data-jk]').length\n      );\n      if (c === prevCount) {\n        stable++;\n        if (stable >= 2) break;\n      } else {\n        stable = 0;\n      }\n      prevCount = c;\n      await page.evaluate(() =>\n        window.scrollBy(0, Math.round(document.body.scrollHeight * 0.6))\n      );\n      await sleep(rand(1500, 3500));\n    }\n\n    // --- 5. Parse job cards ---\n    const raw = await page.evaluate(() => {\n      const cards = Array.from(\n        document.querySelectorAll(\n          'div.job_seen_beacon, div.cardOutline, li div.cardOutline, [data-testid=\"slider_item\"]'\n        )\n      );\n      // fallback if the container class changed: anchor-based cards\n      const nodes = cards.length\n        ? cards\n        : Array.from(document.querySelectorAll('a[data-jk]')).map(\n            (a) => a.closest('li, div') || a\n          );\n\n      const pick = (el, sels) => {\n        for (const s of sels) {\n          const n = el.querySelector(s);\n          if (n && n.innerText && n.innerText.trim()) return n.innerText.trim();\n        }\n        return null;\n      };\n\n      return nodes.map((card) => {\n        const title = pick(card, [\n          'h2 a span[title]',\n          'h2 a span',\n          'h2.jobTitle span',\n          'a.jcs-JobTitle span',\n          'h2 a',\n        ]);\n        const linkEl = card.querySelector(\n          'h2 a, a.jcs-JobTitle, a[data-jk], a[href*=\"jk=\"]'\n        );\n        let jk = null;\n        let href = null;\n        if (linkEl) {\n          jk = linkEl.getAttribute('data-jk');\n          href = linkEl.getAttribute('href');\n          if (!jk && href) {\n            const m = href.match(/[?&]jk=([0-9a-fA-F]+)/);\n            if (m) jk = m[1];\n          }\n        }\n        if (!jk) {\n          const dj = card.getAttribute && card.getAttribute('data-jk');\n          if (dj) jk = dj;\n        }\n        const company = pick(card, [\n          '[data-testid=\"company-name\"]',\n          'span.companyName',\n          '.companyName',\n        ]);\n        const loc = pick(card, [\n          '[data-testid=\"text-location\"]',\n          '.companyLocation',\n          'div.company_location',\n        ]);\n        const salEl = card.querySelector(\n          '[class*=\"salary\"], [data-testid=\"attribute_snippet_testid\"]'\n        );\n        const salaryText = salEl ? salEl.innerText : null;\n        // metadata pills (job type / snippets) for best-effort contract type\n        const metaEls = Array.from(\n          card.querySelectorAll(\n            '[data-testid=\"attribute_snippet_testid\"], [class*=\"jobMetaDataGroup\"] div, [class*=\"metadataContainer\"] li'\n          )\n        );\n        const metaText = metaEls\n          .map((e) => (e.innerText || '').trim())\n          .filter(Boolean)\n          .join(' | ');\n        // published date (best-effort: datetime attr, else visible text, else null)\n        const dateEl = card.querySelector(\n          'time[datetime], [data-testid=\"myJobsStateDate\"], span.date, .date'\n        );\n        const publishedAt = dateEl\n          ? dateEl.getAttribute('datetime') ||\n            (dateEl.innerText || '').trim() ||\n            null\n          : null;\n        const cardText = card.innerText || '';\n        return {\n          title,\n          jk,\n          href,\n          company,\n          loc,\n          salaryText,\n          metaText,\n          publishedAt,\n          cardText,\n        };\n      });\n    });\n\n    let added = 0;\n    for (const r of raw) {\n      if (!r.title && !r.jk) continue;\n\n      // absolute url: prefer canonical jk-based viewjob link\n      let url = null;\n      if (r.jk) url = 'https://pl.indeed.com/viewjob?jk=' + r.jk;\n      else if (r.href) {\n        url = r.href.startsWith('http')\n          ? r.href\n          : 'https://pl.indeed.com' + r.href;\n      }\n\n      const dedupeKey = r.jk || url || r.title;\n      if (dedupeKey && seen.has(dedupeKey)) continue;\n      if (dedupeKey) seen.add(dedupeKey);\n\n      // clean city: strip leading Polish postal code (\"52-407 Wrocław\" -> \"Wrocław\")\n      let city = null;\n      if (r.loc) city = r.loc.replace(/^\\d{2}-\\d{3}\\s*/, '').trim() || null;\n\n      // best-effort metadata (never invented: null when not found on the card)\n      const metaSource = (r.metaText || '') + ' ' + (r.cardText || '');\n      const expSource = (r.title || '') + ' ' + (r.cardText || '');\n      const remote = /zdaln|praca zdalna|\\bremote\\b/i.test(\n        (r.loc || '') + ' ' + (r.cardText || '')\n      );\n\n      // full contract shape, defaulting to null where the site gives us nothing\n      const offer = {\n        source: 'indeed',\n        company: r.company || null,\n        title: r.title || null,\n        url: url || null,\n        city: city,\n        salary_from: null,\n        salary_to: null,\n        salary_currency: null,\n        contract_type: parseContractType(metaSource),\n        experience_level: parseExperience(expSource),\n        published_at: r.publishedAt || null,\n        remote: remote,\n      };\n\n      // salary (only when a currency was actually present)\n      const sal = parseSalary(r.salaryText);\n      if (sal.salary_from != null) offer.salary_from = sal.salary_from;\n      if (sal.salary_to != null) offer.salary_to = sal.salary_to;\n      if (sal.salary_currency) offer.salary_currency = sal.salary_currency;\n\n      offers.push(offer);\n      added++;\n    }\n\n    // legit \"no results\" page? -> not a block, just stop. Otherwise 0 offers = blocked.\n    if (added === 0) {\n      const noResults =\n        /nie przyniosło żadnych wyników|nie znaleziono|0 ofert|brak ofert/i.test(\n          pageInfo.text\n        );\n      if (offers.length === 0 && !noResults) {\n        // 0 offers where some were expected -> treat as blocked\n        blocked = true;\n      }\n      break; // nothing new on this page -> stop paginating either way\n    }\n  }\n} catch (e) {\n  // unexpected failure: do not hammer the site; record what we have\n  // (blocked stays as-is; offers keeps whatever was parsed)\n} finally {\n  // --- 6. ALWAYS write results (even if empty or blocked) ---\n  try {\n    fs.mkdirSync(cfg.collectDir, { recursive: true });\n  } catch (e) {}\n  try {\n    fs.writeFileSync(\n      cfg.collectDir + '/indeed.json',\n      JSON.stringify({ source: 'indeed', count: offers.length, offers })\n    );\n  } catch (e) {}\n  // --- 7. close page ---\n  try {\n    await page.close();\n  } catch (e) {}\n}\n\nreturn [{ json: { site: 'indeed', count: offers.length, blocked } }];",
        "options": {}
      },
      "id": "v2-scr-0007-0000-0000-000000000007",
      "name": "Indeed",
      "type": "n8n-nodes-puppeteer.puppeteer",
      "typeVersion": 1,
      "position": [
        1980,
        300
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// ===== EXCEL WRITER — appends a new dated+hour tab (Tracker style) to the master =====\n// No cross-tab dedup: EVERY offer from this run is saved (within-run dupes by URL removed).\n// Claude Code later builds a profile-filtered / deduped shortlist tab.\n// V3: additionally exports the FULL offers (incl. description) to JSON for the AI step.\n// Descriptions are NEVER written into the xlsx (Excel 32,767-char cell cap + file bloat).\nconst ExcelJS = require('exceljs');\nconst fs = require('fs');\n\nconst MASTER = '/output/oferty_master.xlsx';\nconst cfg = JSON.parse(fs.readFileSync('/tmp/scrape_config.json', 'utf-8'));\n\n// --- 1. gather ALL offers from this run's collect files ---\nlet raw = [];\ntry {\n  for (const f of fs.readdirSync(cfg.collectDir)) {\n    if (!f.endsWith('.json')) continue;\n    const d = JSON.parse(fs.readFileSync(cfg.collectDir + '/' + f, 'utf-8'));\n    if (Array.isArray(d.offers)) raw = raw.concat(d.offers.map(o => ({ ...o, _src: o.source || d.source })));\n  }\n} catch (e) {}\n\n// within-run dedup by normalized URL only (NOT across tabs)\nconst nurl = (u) => String(u || '').split('?')[0].replace(/\\/+$/, '').toLowerCase();\nconst seenRun = new Set();\nconst offers = [];\nfor (const o of raw) { const u = nurl(o.url); if (!u || seenRun.has(u)) continue; seenRun.add(u); offers.push(o); }\n\n// --- 2. Tracker schema + helpers ---\nconst COLS = ['ID', 'Data aplikacji', 'Firma', 'Stanowisko', 'Link do oferty', 'Źródło (portal)', 'Wynagrodzenie', 'Lokalizacja / forma', 'CV wysłane', 'Status', 'Data kontaktu / rozmowy', 'Duplikat?', 'Notatki'];\nconst L = (i) => String.fromCharCode(65 + i);\nconst SRC = { justjoin: 'JustJoin.it', rocketjobs: 'RocketJobs', nofluffjobs: 'NoFluffJobs', talentdays: 'TalentDays', pracuj: 'Pracuj.pl', theprotocol: 'theProtocol.it', olx: 'OLX', indeed: 'Indeed' };\nconst salaryStr = (o) => {\n  if (o.salary_from != null || o.salary_to != null) {\n    return [o.salary_from, o.salary_to].filter(x => x != null).join('–') + (o.salary_currency ? ' ' + o.salary_currency : '');\n  }\n  return o.salary || '';\n};\nconst lokForma = (o) => {\n  if (o.remote === true) return 'Zdalnie';\n  const c = (o.city || '').toLowerCase();\n  if (c.includes('wroc')) return 'Biuro - Wrocław';\n  if (o.city) return 'Biuro - poza Wrocławiem';\n  return 'Niejasne';\n};\n\n// --- 3. open master (Tracker-based; preserves history + formulas + colors) ---\nconst wb = new ExcelJS.Workbook();\nif (fs.existsSync(MASTER)) await wb.xlsx.readFile(MASTER);\n\n// --- 4. new dated+hour worksheet ---\nconst now = new Date();\nconst pad = (n) => String(n).padStart(2, '0');\nconst stamp = `${pad(now.getDate())}.${pad(now.getMonth() + 1)}.${now.getFullYear()} ${pad(now.getHours())}-${pad(now.getMinutes())}`;\nlet name = stamp; let k = 1;\nwhile (wb.getWorksheet(name)) { name = `${stamp} (${++k})`; }\nconst ws = wb.addWorksheet(name, { views: [{ state: 'frozen', ySplit: 1, showGridLines: false }] });\n\n// header (navy fill, bold white)\nCOLS.forEach((c, i) => {\n  const cell = ws.getCell(`${L(i)}1`);\n  cell.value = c;\n  cell.fill = { type: 'pattern', pattern: 'solid', fgColor: { argb: 'FF1B2A4A' } };\n  cell.font = { bold: true, size: 11, color: { argb: 'FFFFFFFF' }, name: 'Calibri' };\n  cell.alignment = { vertical: 'middle', wrapText: true };\n});\n\n// data rows — description is deliberately NOT written to any cell\noffers.forEach((o, ri) => {\n  const rn = ri + 2;\n  ws.getCell(`A${rn}`).value = ri + 1;\n  ws.getCell(`C${rn}`).value = o.company || '';\n  ws.getCell(`D${rn}`).value = o.title || '';\n  const url = o.url || '';\n  if (url) { const lc = ws.getCell(`E${rn}`); lc.value = { text: url, hyperlink: url }; lc.font = { color: { argb: 'FF0563C1' }, underline: true }; }\n  ws.getCell(`F${rn}`).value = SRC[o._src || o.source] || o._src || o.source || '';\n  ws.getCell(`G${rn}`).value = salaryStr(o);\n  ws.getCell(`H${rn}`).value = lokForma(o);\n  ws.getCell(`I${rn}`).value = 'Nie wysłane';\n  ws.getCell(`J${rn}`).value = 'Do wysłania';\n});\n\n// widths (from Tracker)\n[6, 14, 20, 24, 28, 16, 16, 18, 16, 16, 18, 18.43, 32].forEach((w, i) => ws.getColumn(i + 1).width = w);\n\n// dropdowns\nconst lastRow = Math.max(offers.length + 1, 2);\nconst dv = (col, list) => { for (let r = 2; r <= lastRow; r++) ws.getCell(`${col}${r}`).dataValidation = { type: 'list', allowBlank: true, formulae: [`\"${list}\"`] }; };\ndv('H', 'Zdalnie,Hybrydowo,Biuro - Wrocław,Biuro - poza Wrocławiem,Niejasne');\ndv('I', 'Techniczne,Fizyczne/usługowe,Marketingowe,Nie wysłane');\ndv('J', 'Do wysłania,Wysłane,Brak odpowiedzi,Odpowiedź - kontakt,Rozmowa zaplanowana,Po rozmowie,Oferta!,Odmowa,Wycofałem się,Przeterminowane');\n\n// conditional formatting (Tracker's color rules) — dxf fill uses bgColor\nconst mkRules = (col, arr) => arr.map(([val, fill, font]) => ({\n  type: 'expression', formulae: [`$${col}2=\"${val}\"`],\n  style: { fill: { type: 'pattern', pattern: 'solid', bgColor: { argb: fill }, fgColor: { argb: fill } }, font: { color: { argb: font } } }\n}));\nws.addConditionalFormatting({ ref: `J2:J${lastRow}`, rules: mkRules('J', [\n  ['Do wysłania', 'FFE5E5E5', 'FF555555'], ['Wysłane', 'FFCFE0F5', 'FF1B4F7A'], ['Brak odpowiedzi', 'FFE5E5E5', 'FF555555'],\n  ['Odpowiedź - kontakt', 'FFFCE9B0', 'FF7A5B00'], ['Rozmowa zaplanowana', 'FFFCE9B0', 'FF7A5B00'], ['Po rozmowie', 'FFFCE9B0', 'FF7A5B00'],\n  ['Oferta!', 'FFC9E4C5', 'FF1E5631'], ['Odmowa', 'FFF8C7C7', 'FF8A1F1F'], ['Wycofałem się', 'FFE5E5E5', 'FF555555'], ['Przeterminowane', 'FFB0B0B0', 'FF555555']\n]) });\nws.addConditionalFormatting({ ref: `I2:I${lastRow}`, rules: mkRules('I', [\n  ['Techniczne', 'FFCFE0F5', 'FF1B4F7A'], ['Fizyczne/usługowe', 'FFC9E4C5', 'FF1E5631'], ['Marketingowe', 'FFFCE9B0', 'FF7A5B00'], ['Nie wysłane', 'FFF8C7C7', 'FF8A1F1F']\n]) });\n\n// --- 5. JSON full-export for the AI step (BEFORE the xlsx write; each path guarded\n//        with try/catch so a JSON failure never blocks the xlsx and vice versa) ---\nconst JSON_LATEST = '/output/oferty_full_latest.json';\nlet jsonFile = null;\nlet jsonLatest = null;\ntry {\n  // same 'now' as the tab stamp → files pair up with the worksheet\n  // (same collision suffix as the tab, so two runs in one minute don't overwrite each other)\n  const stampFile = `${now.getFullYear()}-${pad(now.getMonth() + 1)}-${pad(now.getDate())}_${pad(now.getHours())}-${pad(now.getMinutes())}${k > 1 ? `_${k}` : ''}`;\n  try { fs.mkdirSync('/output/full', { recursive: true }); } catch (e) {}\n  // url_key = same nurl as the dedup key, so AI results join 1:1 with tracker rows\n  const exportOffers = offers.map(o => ({ ...o, url_key: nurl(o.url) }));\n  const payload = JSON.stringify({ run_tab: name, generated_at: new Date().toISOString(), count: offers.length, offers: exportOffers }, null, 1);\n  const dated = `/output/full/oferty_full_${stampFile}.json`;\n  fs.writeFileSync(dated, payload);\n  jsonFile = dated;\n  try { fs.writeFileSync(JSON_LATEST, payload); jsonLatest = JSON_LATEST; } catch (e) {}\n} catch (e) {}\n\nconst withDescription = offers.filter(o => typeof o.description === 'string' && o.description.trim() !== '').length;\n\nconst buf = await wb.xlsx.writeBuffer();\nfs.writeFileSync(MASTER, buf);\nreturn [{ json: { tab: name, offers: offers.length, master: MASTER, json_file: jsonFile, json_latest: jsonLatest, with_description: withDescription } }];\n"
      },
      "id": "v2-0000-0000-0000-0000000000ff",
      "name": "Excel Writer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        300
      ]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Konfiguracja",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Konfiguracja": {
      "main": [
        [
          {
            "node": "JustJoin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JustJoin": {
      "main": [
        [
          {
            "node": "RocketJobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RocketJobs": {
      "main": [
        [
          {
            "node": "NoFluffJobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NoFluffJobs": {
      "main": [
        [
          {
            "node": "TalentDays",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TalentDays": {
      "main": [
        [
          {
            "node": "Pracuj",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pracuj": {
      "main": [
        [
          {
            "node": "theProtocol",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "theProtocol": {
      "main": [
        [
          {
            "node": "OLX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OLX": {
      "main": [
        [
          {
            "node": "Indeed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Indeed": {
      "main": [
        [
          {
            "node": "Excel Writer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}